{% extends "common/widgets/base_block.html" %}

{% block widget_title %}Daily emails{% endblock %}

{% block widget_body %}
  <p>Receive each day’s diary entry as an email</p>

  <form action="https://buttondown.com/api/emails/embed-subscribe/pepysdiary" method="post">
    <div class="form-group">
      <label for="bd-email" class="sr-only">Your email address</label>
      <input type="email" class="form-control" name="email" id="bd-email" placeholder="e.g. sam@example.com">
    </div>
    <p class="text-right mb-3">
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </p>
  </form>
  <p><a href="https://buttondown.com/pepysdiary">Find out more at Buttondown</a></p>
{% endblock %}
