{% extends "widgets/base_block.html" %}

{% block widget_title %}Email, Twitter &amp;&nbsp;Mastodon{% endblock %}

{% block widget_body %}
  <p><a href="/about/formats/#diary-by-email">Receive diary entries by email daily</a></p>
  <p>Join the <a href="https://groups.io/g/pepysdiary">Pepys’ Diary email discussion group</a></p>
  <p>Follow in real time <a href="http://twitter.com/samuelpepys" title="@samuelpepys">on&nbsp;Twitter</a> or <a href="https://mastodon.social/@samuelpepys" title="@samuelpepys@mastodon.social">on&nbsp;Mastodon</a></p>
{% endblock %}
