{% extends "base.html" %}
{% load url from future %}

{% block encyclopedia_nav_active %}active{% endblock %}

{% block title %}Encyclopedia{% endblock %}}

{% block content %}

	{% load scaffolding_tags %}

	{% sidebar_row_start %}

		<p class="lead">Information about {{ topic_count }} people, places and things in Pepys’ time.</p>

		{% for category, info in categories %}
		    {% if info.open %}
		        <ul><li>
		    {% else %}
		        </li><li>
		    {% endif %}

		    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>

			{% if category.topic_count %}<small>({{ category.topic_count }})</small>{% endif %}

		    {% for close in info.close %}
		        </li></ul>
		    {% endfor %}
		{% endfor %}

	{% sidebar_row_middle %}

	{% sidebar_row_end %}

{% endblock content %}
