{% extends "base_full_width.html" %}
{% load url from future %}

{% block encyclopedia_nav_active %}active{% endblock %}
{% block encyclopedia_map_nav_active %}active{% endblock %}

{% block title %}Map{% if category %} of {{ category }}{% endif %}{% endblock %}}
{% block page_header %}
	<header class="page-header page-header-map">
		<form action="{% url 'category_map' %}" method="post" class="form-inline" id="category-form" role="form">
			{% csrf_token %}
			<h1 class="map-form-title">Map showing: <span class="sr-only">{{ category.title }}</span></h1>
			<label for="id_category" class="sr-only">Select category:</label>
			{{ form.category }}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</header>
{% endblock %}


{% load include_tags %}
{% block extra_css %}
	{% include_maps_css %}
{% endblock %}
{% block extra_javascript_includes %}
	{% include_maps_js %}
{% endblock %}


{% block extra_jquery %}
	pepys.category.init_map({
		category_id: {{ category.id }},
		valid_map_category_ids: [
			{% for id in valid_map_category_ids %}
				{{ id }}{% if forloop.last %}{% else %},{% endif %}
			{% endfor %}
		],
		topics: [
			{% for topic in topics %}
				{
					id: {{ topic.id }},
					title: "{{ topic.title|escapejs|safe }}",
					tooltip_text: "{{ topic.tooltip_text|escapejs }}",
					{% if topic.id in pepys_homes_ids %}
						pepys_home: true,
					{% endif %}
					{% if topic.has_polygon %}
						polygon: "{{ topic.shape|escapejs }}",
					{% endif %}
					{% if topic.has_path %}
						path: "{{ topic.shape|escapejs }}",
					{% endif %}
					latitude: {{ topic.latitude }},
					longitude: {{ topic.longitude }},
					url: "{{ topic.get_absolute_url }}"
				}{% if forloop.last %}{% else %},{% endif %}
			{% endfor %}
		]
	});
{% endblock %}


{% block main_content %}


	<div id="map-frame" class="map-frame-big"></div>

	{% load encyclopedia_tags %}
	{% map_key %}

{% endblock main_content %}
