{% extends "base.html" %}
{% load url from future %}

{% block encyclopedia_nav_active %}active{% endblock %}

{% block title %}Encyclopedia{% endblock %}}

{% block content %}

	{% for category, info in categories %}
	    {% if info.open %}
	        <ul><li>
	    {% else %}
	        </li><li>
	    {% endif %}

	    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>

		{% if category.topic_count %}<small>({{ category.topic_count }})</small>{% endif %}

	    {% for close in info.close %}
	        </li></ul>
	    {% endfor %}
	{% endfor %}

{% endblock %}
