{% extends "base.html" %}
{% load url from future %}

{% block encyclopedia_nav_active %}active{% endblock %}

{% block title %}{{ topic.title }}{% endblock %}}

{% block breadcrumbs %}
	{% for category in topic.categories.all %}
		{% include 'inc/category_breadcrumb.html' with link_final_item="true" %}
	{% endfor %}
{% endblock breadcrumbs %}


{% block content %}

	<div class="tabbable">
		<ul class="nav nav-tabs">
			{% if topic.latitude %}
			<li class="active"><a href="#map" data-toggle="tab">Map</a></li>
			{% endif %}
			<li class="{% if not topic.latitude and topic.summary_html %}active{% endif %}{% if not topic.summary_html %}disabled{% endif %}"><a href="#summary" data-toggle="tab">Summary</a></li>
			<li class="{% if not topic.latitude and not topic.summary_html and topic.wikipedia_fragment %}active{% endif %}{% if not topic.wikipedia_fragment %}disabled{% endif %}"><a href="#wikipedia" data-toggle="tab">Wikipedia</a></li>
			<li class="{% if not topic.latitude and not topic.summary_html and not topic.wikipedia_fragment and topic.wheatley_html %}active{% endif %}{% if not topic.wheatley_html %}disabled{% endif %}"><a href="#wheatley" data-toggle="tab">1893 text</a></li>
			<li class="{% if not topic.latitude and not topic.summary_html and not topic.wikipedia_fragment and not topic.wheatley_html %}active{% endif %}"><a href="#annotations" data-toggle="tab">Annotations ({{ topic.comment_count }})</a></li>
			<li><a href="#references" data-toggle="tab">References</a></li>
		</ul>

		<div class="tab-content">
			{% if topic.latitude %}
			<div class="tab-pane active" id="map">
				<h2>Map</h2>
				<p>Lat: {{ topic.latitude }}<br />
					Lon: {{ topic.longitude }}<br />
					Zoom: {{ topic.zoom }}</p>
			</div>
			{% endif %}

			{% if topic.summary_html %}
			<div class="tab-pane{% if not topic.latitude %} active{% endif %}" id="summary">
				<h2>Summary</h2>
				{{ topic.summary_html|safe }}
			</div>
			{% endif %}

			{% if topic.wikipedia_fragment %}
			<div class="tab-pane{% if not topic.latitude and not topic.summary_html %} active{% endif %}" id="wikipedia">
				<h2>Wikipedia</h2>
				<p>Wikipedia content is not yet automatically copied to this page.</p>
				<p>For now, you can directly <a href="http://en.wikipedia.org/wiki/{{ topic.wikipedia_fragment }}">visit this topic on Wikipedia</a>.</p>
			</div>
			{% endif %}

			{% if topic.wheatley_html %}
			<div class="tab-pane{% if not topic.latitude and not topic.summary_html and not topic.wikipedia_fragment %} active{% endif %}" id="wheatley">
				<h2>1893 text</h2>
				{{ topic.wheatley_html|safe }}
			</div>
			{% endif %}

			<div class="tab-pane{% if not topic.latitude and not topic.summary_html and not topic.wikipedia_fragment and not topic.wheatley_html %} active{% endif %}" id="annotations">
				<h2>Annotations</h2>
				<p>Annotations: {{ topic.comment_count }}</p>
			</div>

			<div class="tab-pane" id="references">
				<h2>References</h2>
			</div>
		</div> <!-- .tab-content -->
	</div> <!-- .tabbable -->



{% endblock %}
