{% comment %}
For the sidebar in In-depth Articles.
We expect:
	categories (from Article.Category.choices)
And maybe:
	category_slug (the current category)
{% endcomment %}

<aside class="aside-block">
	<div class="list-group">
    <h1 class="aside-title">In-depth categories</h1>

		{% for slug, name in categories %}
			<a class="list-group-item{% if slug == category_slug %} active{% endif %}" href="{% url 'article_category_archive' category_slug=slug %}">{{ name }}</a>
		{% endfor %}
	</div>
</aside>
