[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
bleach = "*"
"boto3" = "*"
coreapi = "*"
django-contrib-comments = "*"
django-filter = "*"
django-recaptcha = "*"
django-storages = "*"
django-treebeard = "*"
djangorestframework = "*"
gunicorn = "*"
requests = "*"
responses = "*"
smartypants = "*"
whitenoise = "*"
dj-database-url = "*"
Django = "*"
Markdown = "*"
Pillow = "*"
"psycopg2-binary" = "*"
django-redis = "*"
lxml = "*"
sentry-sdk = "*"
django-extensions = "*"
pyyaml = "*"
uritemplate = "*"

[dev-packages]
django-debug-toolbar = "*"
factory-boy = "*"
flake8 = "*"
black = "==21.11b1"
django-extensions = "*"
coverage = "*"
freezegun = "*"
responses = "*"

[requires]
python_version = "3.9"
