[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
bleach = "*"
"boto3" = "*"
coreapi = "*"
django-contrib-comments = "*"
django-filter = "*"
django-pylibmc = "*"
django-recaptcha = "*"
django-storages = "*"
django-treebeard = "*"
djangorestframework = "*"
gunicorn = "*"
pylibmc = "*"
requests = "*"
responses = "*"
smartypants = "*"
whitenoise = "*"
dj-database-url = "*"
raven = "*"
Django = "*"
Markdown = "*"
Pillow = "*"
"psycopg2-binary" = "*"

[dev-packages]
django-debug-toolbar = "*"
factory-boy = "*"
mock = "*"

[requires]
python_version = "3.6"
