beautifulsoup4
bleach
boto3
coreapi
dj-database-url
django-contrib-comments
django-filter
django-hcaptcha
django-redis
django-storages
django-treebeard
django<5.0
djangorestframework
gunicorn
lxml
Markdown
Pillow
psycopg[binary]
python-dotenv
pyyaml
requests
responses
sentry-sdk
setproctitle
smartypants
uritemplate

# Dev
black
coverage[toml]
django-debug-toolbar
django-extensions
factory-boy
flake8
freezegun
ipython
isort
responses
tblib  # For tracebacks when running tests in parallel
