beautifulsoup4
bleach[css]
boto3
coreapi
dj-database-url
django-contrib-comments
django-filter
django-hcaptcha
django-redis
django-storages
django-treebeard
django
djangorestframework
gunicorn
lxml
Markdown
Pillow
psycopg[binary]
python-dotenv
pyyaml
requests
responses
sentry-sdk
setproctitle
smartypants
uritemplate

# Dev
coverage[toml]
django-debug-toolbar
django-extensions
factory-boy
freezegun
ipython
responses
ruff
tblib  # For tracebacks when running tests in parallel
unittest-parametrize
