Django==1.8.11
Markdown==2.6
Pillow==2.7.0
argparse==1.2.1
beautifulsoup4==4.3.2
bleach==1.4.1
django-contrib-comments==1.6.2
django-debug-toolbar==1.4
django-recaptcha==1.0.3
django-treebeard==3.0
gunicorn==19.3.0
html5lib==0.999
mock==1.0.1
psycopg2==2.6
pylibmc==1.4.1
pytz==2014.10
requests==2.5.3
responses==0.3.0
six==1.9.0
smartypants==1.8.6
sqlparse==0.1.14
wsgiref==0.1.2
