beautifulsoup4
bleach
boto3
coreapi
dj-database-url
django-contrib-comments
django-filter
django-hcaptcha
django-redis
django-storages
django-treebeard
django<4.2
djangorestframework
gunicorn
lxml
Markdown
Pillow
psycopg2
python-dotenv
pyyaml
requests
responses
sentry-sdk
smartypants
uritemplate
whitenoise

# Dev
black
coverage[toml]
django-debug-toolbar
django-extensions
factory-boy
flake8
freezegun
ipython
isort
responses
tblib  # For tracebacks when running tests in parallel
