.aside-block {
	background: $aside-bg;
	margin-top: $line-height-computed;
	padding-bottom: ($line-height-computed / 2);
}

.aside-block:first-child {
	margin-top: 0;
}

.aside-title {
	font-family: $font-family-serif;
	font-size:	$font-size-large;
	color:		$aside-title-color;
	@include img-retina('#{$img-path}/decorations.png', '#{$img-path}/decorations@2x.png', 194px, 120px);
	background-position: right top;
	background-repeat: no-repeat;
	background-color: $aside-title-bg;
	margin-top: 0;
	padding:	($line-height-computed / 3) $aside-padding-horizontal;
}

.aside-body {
	padding-left: $aside-padding-horizontal;
	padding-right: $aside-padding-horizontal;
}
	//> ul,
	//> dl,
	//> p {
		//&:last-child {
			//margin-bottom: 0;
		//}
	//}
