.aside-block {
	background: $aside-bg;
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
	padding-bottom: ($line-height-computed / 2);

	> dl,
	> p {
		padding-left: $aside-padding-horizontal;
		padding-right: $aside-padding-horizontal;
		&:last-child {
			margin-bottom: 0;
		}
	}

	> h1 {
		font-family: $font-family-serif;
		font-size:	$font-size-base;
		color:		$aside-title-color;
		background:	$aside-title-bg url(#{$img-path}/aside-decoration.png) right center no-repeat;
		padding:	($line-height-computed / 3) $aside-padding-horizontal;
	}

}
