.feeds {
	list-style-type: none;

	&,
	.aside-body & {
		padding-left: 0;
	}

	> li > a {
		@include img-retina('#{$img-path}/bullets.png', '#{$img-path}/bullets@2x.png', 36px, 210px);
		background-position: 0 -73px;
		background-repeat: no-repeat;
		padding-left: 25px;
	}
}
