/**
 * Styling for comments/annotations.
 */

.comments {
	font-family: $font-family-sans-serif;
}

.comments-title {
	background: $gray-light;
	font-family: $font-family-serif;
	font-size: $font-size-larger;
	padding: ceil($line-height-computed / 3) $grid-gutter-width;
}

.media {
	border-bottom: 1px solid $hr-border;
}

/* A custom style, modifying things, used on Recent Activity page. */
.media-small {
	border-bottom: none;

	p {
		margin-bottom: 0;
	}
}

.media-heading {
	font-size: $font-size-large;
	font-weight: bold;
	margin-bottom: ($line-height-computed / 2);

	.media-small & {
		font-size: $font-size-base;
		font-weight: normal;
		margin-bottom: 0;
	}

	small {
		color: $gray-mid;
		font-size: $font-size-base;
		font-weight: normal;

		small,
		.media-small & {
			font-size: $font-size-small;
		}
	}
}

.media-body {
	padding-right: ceil($grid-gutter-width / 2);
}

.comment-title,
.comment-name {
	font-weight: bold;
}

.newflag {
	font-size: $font-size-large;
	line-height: $headings-line-height;
    color: $gray-light;

    &.is-new {
        color: $text-color;
    }

	.media-small & {
		font-size: $font-size-base;
	}
}

