/****************************************************************************/
/* Custom generic elements */

cite {
	font-style: italic;
}
.admin {
	background: $admin-bg;
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
}
.admin-links {
	text-align: right;
}

img.pull-right {
	margin-left: ($grid-gutter-width / 2);
}
img.pull-left {
	margin-right: ($grid-gutter-width / 2);
}
