/**
 * MANUSCRIPT.
 * Include this style to represent quotes old text, eg diary entries, letters, etc.
 */

.manuscript {
	font-family: $font-family-serif;
}

.manuscript-large {
	font-size: $font-size-large;

	h2 {
		font-size: $font-size-h1;
	}

	blockquote {
		font-size: $font-size-largish;
	}
}
