/**
 * Things in addition to the Bootstrap settings.
 */
.navbar {
	font-family: $navbar-font-family;
	font-size: $font-size-small;
	border: none;
}
/**
 * We have extra <span>s inside the <a>s in the subnav, so that we can
 * add a bottom border 'on' state to them.
 * So we have to remove bottom padding from the <a>s and add it to the 
 * <span>s.
 */
.navbar-nav {
	> li > a {
		padding-bottom: 0;
		span {
			padding-bottom: 10px;
		}
	}
	@media (min-width: $grid-float-breakpoint) {
		> li > a {
			padding-bottom: 0;
			span {
				/* +1 to make bottom border meet bottom of navbar. */
				padding-bottom: $navbar-padding-vertical + 1;
			}
		}
	}
}
/**
 * Arrow below the 'on' element.
 */
.navbar-mainnav {
	.navbar-nav {
		> .active > a > span {
			background: url(#{$img-path}/backgrounds/navbar.png) center bottom no-repeat;
			/* +5 to make bottom of span meet bottom of navbar. */
			padding-bottom: $navbar-padding-vertical + 5;
		}
	}
}
.navbar-subnav {
	margin-top: -($navbar-margin-bottom);
	.navbar-nav {
		> .active > a > span {
			border-bottom: 4px solid $site-highlight-color;	
		}
	}
}

.navbar-supernav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar-nav > li > a {
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/**
 * Add bullet-separators.
 */
.navbar-nav > li {
	padding-right: ($navbar-padding-horizontal + 2);
	background: url(#{$img-path}/backgrounds/navbar.png) right 1em no-repeat;
	.navbar-inverse & {
		background-position: right -0.3em;
	
	}
	&.navbar-text {
		margin-left: 0;
		margin-right: 0;
		padding-left: $navbar-padding-horizontal * 2;
		padding-right: ($navbar-padding-horizontal * 2) + 2;
		background-position: right -0.6em;
	}
	&:last-child{
		padding-right: 0;
		background: none;
	}
}

