.nextprev {
	@include clearfix;

	font-size: $font-size-largish;
	font-weight: bold;

	a {
		@include image-retina('#{$img-path}/bullets', 'png', 36px, 210px);
		background-repeat: no-repeat;
	}
}
.nextprev-next {
	float: right;
	a {
		padding-right: 50px;
		background-position: right -136px;
	}
}
.nextprev-prev {
	float: left;
	a {
		padding-left: 50px;
		background-position: left -101px;
	}
}
