.site-header {
	background: linear-gradient(0deg,
					rgba(50, 20, 0, 0.4),
					rgba(50, 20, 0, 0.1),
					rgba(50, 20, 0, 0),
					rgba(50, 20, 0, 0.1),
					rgba(50, 20, 0, 0.4)
				),
				$site-header-bg
				url(#{$img-path}/backgrounds/site-header.png) 0 0 repeat;
	border-top: 1px solid $site-header-border-color;
	border-bottom: 1px solid $site-header-border-color;
	padding-top: $padding-large-vertical;
	padding-bottom: $padding-large-vertical;
	margin-top: $supernav-height;
}
.site-header .container {
	background: url(#{$img-path}/site-header-pepys.png) 0 0 no-repeat;
	min-height: 144px;
}
.site-header-title {
	color: $site-header-title-color;
	text-rendering: optimizeLegibility;
	margin-top: 0.6em;
	margin-bottom: 0.15em;
	margin-left: 121px;
	a {
		color: $site-header-title-color;
	}
}
.site-header-subtitle {
	color: $site-header-subtitle-color;
	font-style: italic;
	font-size: $font-size-h4;
	margin-left: 127px;
}


