.site-header {
	@include gradient-with-image(
					'#{$img-path}/site-header.png',
					0deg,
					rgba(50, 20, 0, 0.4),
					rgba(50, 20, 0, 0.1),
					rgba(50, 20, 0, 0),
					rgba(50, 20, 0, 0.1),
					rgba(50, 20, 0, 0.4)
				);
	background-position: 0 0;
	background-repeat: repeat;
	background-color: $site-header-bg;
	border-top: 1px solid $site-header-border-color;
	border-bottom: 1px solid $site-header-border-color;
	padding-top: $padding-large-vertical;
	padding-bottom: $padding-large-vertical;
	margin-top: $supernav-height;
}
.site-header .container {
	background: url(#{$img-path}/site-header-pepys.png) 0 0 no-repeat;
	min-height: 144px;
}
.site-header-title {
	color: $site-header-title-color;
	font-family: $font-family-serif;
	font-size: $font-size-base * 2.75; // 44px if base is 16px.
	text-rendering: optimizeLegibility;
	margin-top: 0.65em;
	margin-bottom: 0;
	margin-left: 121px;
	a {
		color: $site-header-title-color;
	}
}
.site-header-subtitle {
	color: $site-header-subtitle-color;
	font-family: $font-family-serif;
	font-size: $font-size-large;
	font-style: italic;
	margin-left: 127px;
}


