/**
 * Overriding Bootstrap's styles.
 */
.page-header h1,
.entry h1 {
	padding-bottom: 0.3em;
	border-bottom: 1px solid $hr-border;
}

.lead {
	font-size: $font-size-base;
	line-height: 1.2em;

	@media (min-width: $screen-sm-min) {
		font-size: $font-size-large;
	}
}
