{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}
{% block diary_archive_nav_active %}active{% endblock %}

{% block title %}Diary entries from {{ month|date:"F" }}&nbsp;{{ month|date:"Y" }}{% endblock %}
{% block header_title %}Diary entries from {{ month|date:"F" }}&nbsp;{{ month|date:"Y" }}{% endblock %}

{% block main_content %}
	{% include 'inc/entry_list.html' %}
{% endblock main_content %}


{% block sidebar_content %}

	{% if next_month or previous_month %}
		<aside class="aside-block">
			{% if previous_month %}
				<p><a href="{% url 'entry_month_archive' year=previous_month|date:'Y' month=previous_month|date:'m' %}"><span class="glyphicon glyphicon-arrow-left"></span> {{ previous_month|date:"F Y" }}</a></p>
			{% endif %}

			{% if next_month %}
				<p class="text-right"><a href="{% url 'entry_month_archive' year=next_month|date:'Y' month=next_month|date:'m' %}">{{ next_month|date:"F Y" }} <span class="glyphicon glyphicon-arrow-right"></span></a></p>
			{% endif %}
		</aside>
	{% endif %}

	<aside class="asid-block">
		<p><a href="{% url 'summary_year_archive' year=month|date:"Y" %}#m{{ month|date:"m" }}">Read a summary of this month’s events</a></p>
	</aside>

{% endblock sidebar_content %}

