{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}

{% block title %}Entries from {{ month|date:"F" }}&nbsp;{{ month|date:"Y" }}{% endblock %}}

{% block content %}

	{% load scaffolding_tags %}
	{% sidebar_row_start %}

		{% include 'inc/entry_list.html' %}

	{% sidebar_row_middle %}

		{% if next_month %}
			<p>Next: <a href="{% url 'entry_month_archive' year=next_month|date:'Y' month=next_month|date:'m' %}">{{ next_month|date:"F Y" }}</a></p>
		{% endif %}
		{% if previous_month %}
			<p>Previous: <a href="{% url 'entry_month_archive' year=previous_month|date:'Y' month=previous_month|date:'m' %}">{{ previous_month|date:"F Y" }}</a></p>
		{% endif %}

	{% sidebar_row_end %}

{% endblock content %}
