{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}

	{% load scaffolding_tags %}
	{% sidebar_row_start %}

		<div class="well well-manuscript">
			{% load text_formatting_filters %}

			{{ entry.text|smartypants|safe }}
			{% if entry.footnotes %}
				<hr />
				{{ entry.footnotes|smartypants|safe }}
			{% endif %}
		</div>

		<p>{{ entry.diary_date }} | {{ entry.comment_count }} comment{{ entry.comment_count|pluralize }}</p>

	{% sidebar_row_middle %}

		{% include 'inc/next_previous.html' with next=next_entry previous=previous_entry %}

	{% sidebar_row_end %}

{% endblock content %}
