{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}

	{% load scaffolding_tags %}
	{% sidebar_row_start %}

		<div class="well well-manuscript">
			{% load text_formatting_filters %}
			{{ entry.text|smartypants|safe }}
			{% if entry.footnotes %}
				<hr />
				{{ entry.footnotes|smartypants|safe }}
			{% endif %}
		</div>

		<p>{{ entry.diary_date }} | {{ entry.comment_count }} comment{{ entry.comment_count|pluralize }}</p>

	{% sidebar_row_middle %}

		{% if next_entry %}
			<p>Next: <a href="{{ next_entry.get_absolute_url }}">{{ next_entry.title }}</a></p>
		{% endif %}

		{% if previous_entry %}
			<p>Previous: <a href="{{ previous_entry.get_absolute_url }}">{{ previous_entry.title }}</a></p>
		{% endif %}

	{% sidebar_row_end %}

{% endblock content %}
