{% extends "base.html" %}
{% load url from future %}

{% block title %}Entries in {{ month }}{% endblock %}}

{% block content %}

	{% if next_month %}
		<p>Next: <a href="{% url 'diary_entry_month_archive' year=next_month|date:'Y' month=next_month|date:'m' %}">{{ next_month|date:"F Y" }}</a></p>
	{% endif %}
	{% if previous_month %}
		<p>Previous: <a href="{% url 'diary_entry_month_archive' year=previous_month|date:'Y' month=previous_month|date:'m' %}">{{ previous_month|date:"F Y" }}</a></p>
	{% endif %}

	{% for entry in entry_list %}

		<h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>

		{{ entry.text|safe }}
		{% if entry.footnotes %}
			<hr />
			{{ entry.footnotes|safe }}
		{% endif %}

		<p>{{ entry.diary_date }} | {{ entry.comment_count }} comment{{ entry.comment_count|pluralize }}</p>
	{% endfor %}

{% endblock %}
