{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}
{% block diary_archive_nav_active %}active{% endblock %}

{% block title %}Diary archive{% endblock %}
{% block header_title %}Diary archive{% endblock %}

{% block main_content %}

	<p class="lead">Every entry of Samuel Pepys’ diary, in separate monthly pages.</p>

	<ul class="diary-archive">
	{% for month in date_list %}
		{% ifchanged month|date:'Y' %}
			{% if forloop.counter != 1 %}
		</ul>
	</li>
			{% endif %}
	<li><span>{{ month|date:'Y' }}</span>
		<ul>
		{% endifchanged %}
		<li><a href="{% url 'entry_month_archive' year=month|date:'Y' month=month|date:'m' %}">{{ month|date:'M' }}</a></li>
	{% endfor %}
		</ul>
	</li>
	</ul>

{% endblock main_content %}


{% block sidebar %}

{% endblock sidebar %}
