{% extends "base.html" %}

{% block diary_nav_active %}active{% endblock %}
{% block diary_summary_nav_active %}active{% endblock %}

{% block title %}Summary of {{ year|date:"Y" }}’s diary entries{% endblock %}}
{% block header_title %}Summary of {{ year|date:"Y" }}’s diary entries{% endblock %}}

{% block main_content %}

	{% load text_formatting_filters %}

	{% for summary in summary_list reversed %}
		<article id="m{{ summary.summary_date|date:"m" }}" class="summary">
			<h1>{{ summary.summary_date|date:"F Y" }}</h1>

			{% if perms.summary.can_edit %}
				{% load widget_tags %}
				{% url 'admin:diary_summary_change' summary.id as change_url %}
				{% admin_link_change change_url %}
			{% endif %}

			{{ summary.text_html|smartypants|safe }}

			<footer>
				<p><a href="{% url 'entry_month_archive' year=summary.summary_date|date:"Y" month=summary.summary_date|date:"m" %}">Diary entries for {{ summary.summary_date|date:"F Y" }}</a></p>
			</footer>
		</article>

		{% if not forloop.last %}
			<hr class="decoration decoration-small" />
		{% endif %}
	{% endfor %}

{% endblock main_content %}


{% block sidebar_content %}

	{% load widget_tags %}
	{% summary_year_navigation current_year=year %}

	<aside class="aside-block">
		<p>Many thanks to <strong>Jeannine Kerwin</strong> and <strong>Dirk Van de Putte</strong> for writing these summaries of the diary's events.</p>
	</aside>

{% endblock sidebar_content %}
