{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}
{% block diary_summary_nav_active %}active{% endblock %}

{% block title %}Summary of {{ year|date:"Y" }}’s diary entries{% endblock %}}
{% block header_title %}Summary of {{ year|date:"Y" }}’s diary entries{% endblock %}}

{% block main_content %}

	{% load text_formatting_filters %}

	{% for summary in summary_list reversed %}
		<article id="m{{ summary.summary_date|date:"m" }}" class="summary">
			<h2>{{ summary.summary_date|date:"F Y" }}</h2>

			{{ summary.text_html|smartypants|safe }}

			<p><small><a href="{% url 'entry_month_archive' year=summary.summary_date|date:"Y" month=summary.summary_date|date:"m" %}">See the full diary entries for {{ summary.summary_date|date:"F Y" }}</a></small></p>

			{% if perms.summary.can_edit %}
				<p class="admin-links"><small><a class="admin" href="{% url 'admin:diary_summary_change' summary.id %}"><i class="icon-edit icon-link"></i> Edit</a></small></p>
			{% endif %}
		</article>
	{% endfor %}

{% endblock main_content %}


{% block sidebar_content %}

	{% include "inc/summary_year_nav.html" %}

	<div class="sidebar-block">
		<p>Many thanks to <strong>Jeannine Kerwin</strong> and <strong>Dirk Van de Putte</strong> for writing these summaries of the diary's events.</p>
	</div>

	{% load widget_tags %}
	{% rss_feeds 'entries' %}

{% endblock sidebar_content %}
