{% extends "base.html" %}
{% load text_formatting_filters %}

{% block news_nav_active %}active{% endblock %}

{% block title %}{{ post.title|smartypants|safe }}{% endblock %}}
{% block header_title %}{{ post.title|smartypants|safe }}{% endblock %}}

{% block main_content %}

	<article>
		{% if perms.post.can_edit %}
			{% load widget_tags %}
			{% url 'admin:news_post_change' post.id as change_url %}
			{% admin_link_change change_url %}
		{% endif %}

		<p class="article-byline">{{ post.date_published|date:date_format_long }}</p>

		{{ post.intro_html|smartypants|safe }}

		{{ post.text_html|smartypants|safe }}

		{% if post.category %}
			<hr>
			<footer class="text-muted">
				<p>Posted in <a href="{% url 'post_category_archive' post.category %}" title="More posts in this category">{{ post.category_title }}</a>.</p>
			</footer>
		{% endif %}
	</article>

	{% include 'inc/next_previous.html' with next=next_post previous=previous_post %}

	{% include 'inc/comments.html' with object=post %}

{% endblock main_content %}


{% block sidebar_content %}

	{% include 'inc/news_category_nav.html' with category_slug=post.category %}

{% endblock sidebar_content %}
