{% extends "base.html" %}
{% load text_formatting_filters %}

{% block news_nav_active %}active{% endblock %}

{% block title %}{{ post.title|smartypants|safe }}{% endblock %}}
{% block header_title %}{{ post.title|smartypants|safe }}{% endblock %}}

{% block main_content %}

	<article>
		{% if perms.post.can_edit %}
			{% load widget_tags %}
			{% url 'admin:news_post_change' post.id as change_url %}
			{% admin_link_change change_url %}
		{% endif %}

		<p class="article-date">{{ post.date_published|date:date_format_longest }}</p>

		{{ post.intro_html|smartypants|safe }}

		{{ post.text_html|smartypants|safe }}
	</article>

	{% include 'inc/next_previous.html' with next=next_post previous=previous_post %}

	{% include 'inc/comments.html' with object=post %}

{% endblock main_content %}


{% block sidebar_content %}

	{% include 'inc/news_category_nav.html' %}

{% endblock sidebar_content %}
