{% extends "base.html" %}
{% load url from future %}

{% block news_nav_active %}active{% endblock %}

{% block title %}Site News: {{ category_name }}{% endblock %}}
{% block header_title %}Site News: {{ category_name }}{% endblock %}}

{% block main_content %}

	{% load text_formatting_filters %}

	{% for post in post_list %}
		<article class="news">
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

			{{ post.intro_html|smartypants|safe }}
		</article>
	{% endfor %}

{% endblock main_content %}


{% block sidebar_content %}

	{% include 'inc/news_category_nav.html' %}

	{% load widget_tags %}
	{% rss_feeds 'posts' %}

{% endblock sidebar_content %}
