{% extends "base.html" %}
{% load url from future %}

{% block letter_nav_active %}active{% endblock %}

{% block title %}Letters sent by or to {{ person.title }}{% endblock %}}
{% block header_title %}Letters sent by or to {{ person.title }}{% endblock %}}

{% block main_content %}

	{% include 'inc/letter_list.html' %}

{% endblock main_content %}


{% block sidebar_content %}

	{% if person.thumbnail %}
		<p><img src="{{ person.thumbnail.url }}" width="100" height="120" alt="Thumbnail image" /><br />
			<a href="{{ person.get_absolute_url }}">In the Encyclopedia</a></p>
	{% endif %}

{% endblock sidebar_content %}
