{% extends "common/layouts/base.html" %}

{% block letter_nav_active %}active{% endblock %}

{% block title %}Letters {% if letter_kind == "from" %}from{% elif letter_kind == "to" %}to{% else %}from or to{% endif %} {{ person.title }}{% endblock %}}
{% block header_title %}Letters {% if letter_kind == "from" %}from{% elif letter_kind == "to" %}to{% else %}from or to{% endif %} {{ person.title }}{% endblock %}}

{% block main_content %}

  <nav aria-label="Lists of letters">
    <ul>
      <li>
        {% with label="Letters from or to "|add:person.title %}
          {% if letter_counts.both == 0 %}
            <span class="text-muted">{{ label }}</span>
          {% elif letter_kind == "both" %}
            <strong>{{ label }}</strong>
            <span class="sr-only">(current page)</span>
          {% else %}
            <a href="{% url 'letter_person' pk=person.pk %}">{{ label }}</a>
          {% endif %}
        {% endwith %}
        <small>({{ letter_counts.both }})</small>
      </li>
      <li>
        {% with label="Letters from "|add:person.title %}
          {% if letter_counts.from == 0 %}
            <span class="text-muted">{{ label }}</span>
          {% elif letter_kind == "from" %}
            <strong>{{ label }}</strong>
            <span class="sr-only">(current page)</span>
          {% else %}
            <a href="{% url 'letter_from_person' pk=person.pk %}">{{ label }}</a>
          {% endif %}
        {% endwith %}
        <small>({{ letter_counts.from }})</small>
      </li>
      <li>
        {% with label="Letters to "|add:person.title %}
          {% if letter_counts.to == 0 %}
            <span class="text-muted">{{ label }}</span>
          {% elif letter_kind == "to" %}
            <strong>{{ label }}</strong>
            <span class="sr-only">(current page)</span>
          {% else %}
            <a href="{% url 'letter_to_person' pk=person.pk %}">{{ label }}</a>
          {% endif %}
        {% endwith %}
        <small>({{ letter_counts.to }})</small>
      </li>
    </ul>
  </nav>

  {% if letter_list %}
    {% include 'letters/inc/letter_list.html' %}
  {% else %}
    <p>There are no letters sent {% if letter_kind == "from" %}from{% elif letter_kind == "to" %}to{% else %}from or to{% endif %} {{ person.title }}.</p>
  {% endif %}

{% endblock main_content %}


{% block sidebar_content %}

  <aside class="aside-block">
    <header class="aside-header">
      <h1 class="aside-title">{{ person.title }}</h1>
    </header>
    <div class="aside-body">
      {% if person.thumbnail %}
        <p><img class="img-responsive" src="{{ person.thumbnail.url }}" width="100" height="120" alt="Thumbnail image" /></p>
      {% endif %}
      <p><a href="{{ person.get_absolute_url }}">In the Encyclopedia</a></p>
    </div>
  </aside>

  <aside class="aside-block">
    <header class="aside-header">
      <h1 class="aside-title">All correspondents</h1>
    </header>
    <div class="aside-body">
      <ul>
        {% for topic in correspondents %}
          <li>
            {% if topic.pk != person.pk %}
              <a href="{% url 'letter_person' topic.pk %}">{{ topic.title }}</a>
            {% else %}
              {{ topic.title }}
            {% endif %}
            <small>({{ topic.letter_count }}{% if forloop.counter0 == 0 %} letters{% endif %})</small>
          </li>
        {% endfor %}
          </ul>
    </div>
  </aside>

{% endblock sidebar_content %}
