<!DOCTYPE html>{% load static %}{% get_static_prefix as STATIC_PREFIX %}
<html lang="en-gb">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page_name == 'home' %}Samuel Pepys: Diary, Letters, Family Tree, Maps, Encyclopedia, Discussion and more{% else %}{% block title %}{% endblock %} (Pepys' Diary){% endif %}</title>

	<link href="{{ STATIC_PREFIX }}css/pepysdiary.css?v=7" rel="stylesheet">
	{% block extra_css %}
	{% endblock extra_css %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{{ STATIC_PREFIX }}img/favicon.ico" type="image/x-icon"> 

    <link rel="alternate" type="application/rss+xml" title="Diary entries" href="http://feeds.feedburner.com/PepysDiary">
    <link rel="alternate" type="application/rss+xml" title="Encyclopedia topics" href="http://feeds.feedburner.com/PepysDiary-Encyclopedia">
    <link rel="alternate" type="application/rss+xml" title="In-Depth articles" href="http://feeds.feedburner.com/PepysDiary-InDepthArticles">
    <link rel="alternate" type="application/rss+xml" title="Site News posts" href="http://feeds.feedburner.com/PepysDiary-SiteNews">
</head>
<body>
	<a class="sr-only" href="#content">Skip to main content</a>

	<header class="site-header">
		<div class="container">
			{% if page_name == 'home' %}
				<h1 class="site-header-title">The Diary of Samuel Pepys</h1>
			{% else %}
				<h1 class="site-header-title"><a href="{% url 'home' %}" title="To the front page">The Diary of Samuel Pepys</a></h1>
			{% endif %}
			<p class="site-header-subtitle">Daily entries from the 17th century London diary</p>
		</div> 
	</header> <!-- .site-header -->

	<nav class="navbar navbar-inverse navbar-mainnav" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div> <!-- .navbar-header -->
			<div class="collapse navbar-collapse" id="site-nav-collapse">
				<ul class="nav navbar-nav">
					<li class="{% block diary_nav_active %}{% endblock %}">
						<a href="{% url 'home' %}">The Diary</a>
					</li>
					<li class="{% block letter_nav_active %}{% endblock %}">
						<a href="{% url 'letters' %}">Letters</a>
					</li>
					<li class="{% block encyclopedia_nav_active %}{% endblock %}">
						<a href="{% url 'encyclopedia' %}">Encyclopedia</a>
					</li>
					<li class="{% block indepth_nav_active %}{% endblock %}">
						<a href="{% url 'indepth' %}">In-depth Articles</a>
					</li>
					<li class="{% block news_nav_active %}{% endblock %}">
						<a href="{% url 'news' %}">Site News</a>
					</li>
					<li class="{% block recent_nav_active %}{% endblock %}">
						<a href="{% url 'recent' %}">Recent Activity</a>
					</li>
					<li class="{% block about_nav_active %}{% endblock %}">
						<a href="{% url 'about' %}">About</a>
					</li>
				</ul> <!-- .nav.navbar-nav -->
			</div> <!-- .navbar-collapse -->
		</div> <!-- .container -->
    </nav> <!-- .navbar -->

	{% load nav_tags %}
	{% get_subnav request as subnav %}
	{% if subnav %}
		<nav class="navbar navbar-default navbar-subnav" role="navigation">
			<div class="container">
				<ul class="nav navbar-nav">
					{% if subnav == 'diary' %}
						<li class="{% block diary_home_nav_active %}{% endblock %}"><a href="{% url 'home' %}">Latest</a></li>
						<li class="{% block diary_archive_nav_active %}{% endblock %}"><a href="{% url 'entry_archive' %}">Archive</a></li>
						<li class="{% block diary_summary_nav_active %}{% endblock %}"><a href="{% url 'diary_summary' %}">Summary</a></li>
						<li class="{% block diary_1893_nav_active %}{% endblock %}"><a href="{% url '1893_introduction' %}">1893 Introduction</a></li>

					{% elif subnav == 'letters' %}
						<li class="{% block letters_index_nav_active %}{% endblock %}"><a href="{% url 'letters' %}">All letters</a></li>

					{% elif subnav == 'encyclopedia' %}
						<li class="{% block encyclopedia_index_nav_active %}{% endblock %}"><a href="{% url 'encyclopedia' %}">Categories</a></li>
						<li class="{% block encyclopedia_map_nav_active %}{% endblock %}"><a href="{% url 'category_map' %}">Map</a></li>
						<li class="{% if flatpage and flatpage.url == '/encyclopedia/familytree/' %}active{% endif %}"><a href="{% url 'encyclopedia_familytree' %}">Family tree</a></li>

					{% elif subnav == 'indepth' %}
						<li class="{% block indepth_index_nav_active %}{% endblock %}"><a href="{% url 'indepth' %}">Latest</a></li>

					{% elif subnav == 'recent' %}
						<li class="{% block recent_index_nav_active %}{% endblock %}"><a href="{% url 'recent' %}">Latest</a></li>

					{% elif subnav == 'about' %}
						<li class="{% if url_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}">This site</a></li>
						<li class="{% if url_name == 'about_text' %}active{% endif %}"><a href="{% url 'about_text' %}">The text</a></li>
						<li class="{% if url_name == 'about_faq' %}active{% endif %}"><a href="{% url 'about_faq' %}" title="Frequently Asked Questions">FAQ</a></li>
						<li class="{% if url_name == 'about_annotations' %}active{% endif %}"><a href="{% url 'about_annotations' %}">Annotation guidelines</a></li>
						<li class="{% if url_name == 'about_formats' %}active{% endif %}"><a href="{% url 'about_formats' %}">Email &amp; RSS</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	{% endif %}

	<nav class="navbar navbar-inverse navbar-supernav" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li class="navbar-text">Logged in as {{ user.get_full_name }}</li>
					<li><a href="{% url 'private_profile' %}">Profile</a></li>
					<li><a href="{% url 'logout' %}">Log out</a></li>
				{% else %}
					<li><a href="{% url 'login' %}{% if 'logout' not in request.path %}?next={{ request.path }}{% endif %}">Log in</a></li>
					<li><a href="{% url 'register' %}">Register</a></li>
				{% endif %}
			</ul>
		</div>
	</nav> <!-- .navbar-supernav -->

	<div class="container" id="content">
		{% block breadcrumbs %}{% endblock %}

		{% if messages %}
		    {% for message in messages %}
			    <div class="alert alert-dismissable{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
	                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    	{{ message|safe }}
			   	</div>
		    {% endfor %}
		{% endif %}

		<main role="main">
			{% block page_header %}
				<header class="page-header">
					<h1>{% block header_title %}{% endblock %}</h1>
				</header>
			{% endblock %}

			{% block content %}
				<div class="row">
					{% block main %}
						<div class="col-sm-8">
							{% block main_content %}

							{% endblock %}
						</div> <!-- .col-sm-8 -->
					{% endblock %}

					{% block sidebar %}
						<div class="col-sm-4">
							<div class="well">
								{% block sidebar_content %}

								{% endblock %}
							</div> <!-- .well -->
						</div> <!-- .col-sm-4 -->
					{% endblock %}
				</div> <!-- .row -->
			{% endblock %}
		</main>

	</div> <!-- #content.container -->

	{% block site_footer %}
		<footer class="site-footer">
			<div class="container">
				<div class="row">
					{% block site_footer_content %}
						{% load widget_tags %}
						<div class="col-sm-3">
							{% latest_posts quantity=2 %}
						</div>

						<div class="col-sm-3">
							{% twitter %}
							{% email %}
						</div>

						<div class="col-sm-3">
							{% rss_feeds %}
						</div>

						<div class="col-sm-3">
							{% credit %}
						</div>
					{% endblock %}
				</div>
			</div>
		</footer>
	{% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/libs/bootstrap.min.js"></script>
	{% block extra_javascript_includes %}{% endblock %}
	<script src="{{ STATIC_PREFIX }}js/pepys.js?v=7"></script>

	<script>
		$(document).ready(function(){
			pepys.controller.init({
				{% if tooltip_references %}
					'tooltips': {
						{% for id, tip in tooltip_references.items %}
							'{{ id }}': {
								'title': "{{ tip.title|escapejs }}",
								'text': "{{ tip.text|escapejs }}",
								'thumbnail_url': "{{ tip.thumbnail_url|escapejs }}"
							}{% if not forloop.last %},{% endif %}
						{% endfor %}
					},
				{% endif %}
				'config': {
					mapbox_map_id: '{{ MAPBOX_MAP_ID }}',
					static_prefix: '{{ STATIC_PREFIX|escapejs }}'
				}
			});

			{% block extra_jquery %}{% endblock %}
		});
	</script>

	{% if GOOGLE_ANALYTICS_ID %}
	<!-- Google Analytics JS -->
	<script>
	    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS_ID }}'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	<!-- End Google Analytics JS -->
	{% endif %}
</body>
</html>
