<!DOCTYPE html>{% load url from future %}{% load static %}{% get_static_prefix as STATIC_PREFIX %}
<html lang="en-gb">
<head>
	<meta charset="utf-8"/>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ STATIC_PREFIX }}css/bootstrap.min.css" rel="stylesheet" media="screen">
	<style type="text/css">
		/* Must go before bootstrap-responsive.css. */
		body { padding-top: 40px; }
	</style>
	<link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_PREFIX }}css/pepysdiary.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" href="{{ STATIC_PREFIX }}img/favicon.ico" type="image/x-icon"> 
</head>
<body>

	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	    	<div class="container-fluid">
	    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
	            </a>
	    		<a href="{% url 'home' %}" class="brand">Pepys’ Diary</a>
	    		<div class="nav-collapse collapse">
			    	<ul class="nav">
			    		<li class="dropdown {% block diary_nav_active %}{% endblock %}">
			    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Diary <b class="caret"></b></a>
			    			
			    			<ul class="dropdown-menu">
			    				<li><a href="{% url 'home' %}">Home</a></li>
			    				<li><a href="{% url 'entry_archive' %}">Archive</a></li>
			    			</ul>
			    		</li>
			    		<li class="{% block letter_nav_active %}{% endblock %}"><a href="{% url 'letters' %}">Letters</a></li>
			    		<li class="{% block encyclopedia_nav_active %}{% endblock %}"><a href="{% url 'encyclopedia' %}">Encyclopedia</a></li>
			    		<li class="{% block indepth_nav_active %}{% endblock %}"><a href="{% url 'indepth' %}">In-Depth Articles</a></li>
			    		<li class="{% block news_nav_active %}{% endblock %}"><a href="{% url 'news' %}">Site News</a></li>
			    	</ul>
			    </div> <!-- .nav-collapse -->
			</div> <!-- .container-fluid -->
	    </div> <!-- .navbar-inner -->
    </div> <!-- .navbar -->

	<div class="container-fluid">
		{% block breadcrumbs %}{% endblock %}

		<h1>{% block title %}{% endblock %}</h1>

		{% block content %}{% endblock %}
	</div> <!-- .container-fluid -->

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
</body>
</html>