<!DOCTYPE html>{% load static %}{% get_static_prefix as STATIC_PREFIX %}
<html lang="en-gb">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page_name == 'home' %}The Diary of Samuel Pepys{% else %}{% block title %}{% endblock %} (Pepys' Diary){% endif %}</title>

	<link href="{{ STATIC_PREFIX }}css/bootstrap{% if not debug %}.min{% endif %}.css" rel="stylesheet">
	{% block extra_css %}
	{% endblock extra_css %}
	<link href="{{ STATIC_PREFIX }}css/pepysdiary.css?v=7" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{{ STATIC_PREFIX }}img/favicon.ico" type="image/x-icon"> 

    <link rel="alternate" type="application/rss+xml" title="Diary entries" href="http://feeds.feedburner.com/PepysDiary">
    <link rel="alternate" type="application/rss+xml" title="Encyclopedia topics" href="http://feeds.feedburner.com/PepysDiary-Encyclopedia">
    <link rel="alternate" type="application/rss+xml" title="In-Depth articles" href="http://feeds.feedburner.com/PepysDiary-InDepthArticles">
    <link rel="alternate" type="application/rss+xml" title="Site News posts" href="http://feeds.feedburner.com/PepysDiary-SiteNews">
</head>
<body>

	<div class="site-header">
		<div class="container">
			{% if page_name == 'home' %}
				<h1 class="site-header-title">The Diary of Samuel Pepys</h1>
			{% else %}
				<div class="site-header-title"><a href="{% url 'home' %}" title="To the front page">The Diary of Samuel Pepys</a></div>
			{% endif %}
			<p class="site-header-subtitle">Daily entries from the 17th century London diary</p>
		</div> 
	</div> <!-- .site-header -->

	<div class="navbar navbar-inverse">
	    <div class="navbar-inner">
	    	<div class="container">
	    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
	            </a>
	    		<div class="nav-collapse collapse">
			    	<ul class="nav">
			    		<li class="dropdown {% block diary_nav_active %}{% endblock %}">
			    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">The Diary <b class="caret"></b></a>
			    			<ul class="dropdown-menu">
			    				<li class="{% block diary_home_nav_active %}{% endblock %}"><a href="{% url 'home' %}">Home</a></li>
			    				<li class="{% block diary_archive_nav_active %}{% endblock %}"><a href="{% url 'entry_archive' %}">Archive</a></li>
			    				<li class="{% block diary_summary_nav_active %}{% endblock %}"><a href="{% url 'diary_summary' %}">Summary</a></li>
			    				<li class="{% block diary_1893_nav_active %}{% endblock %}"><a href="{% url '1893_introduction' %}">1893 Introduction</a></li>
			    			</ul>
			    		</li>
			    		<li class="{% block letter_nav_active %}{% endblock %}"><a href="{% url 'letters' %}">Letters</a></li>
			    		<li class="dropdown {% block encyclopedia_nav_active %}{% endblock %}">
			    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Encyclopedia <b class="caret"></b></a>
			    			<ul class="dropdown-menu">
			    				<li class="{% block encyclopedia_index_nav_active %}{% endblock %}"><a href="{% url 'encyclopedia' %}">All categories</a></li>
			    				<li class="{% block encyclopedia_map_nav_active %}{% endblock %}"><a href="{% url 'category_map' %}">Map</a></li>
			    				<li class="{% if flatpage and flatpage.url == '/encyclopedia/familytree/' %}active{% endif %}"><a href="{% url 'encyclopedia_familytree' %}">Family tree</a></li>
			    			</ul>
			    		</li>
			    		<li class="{% block indepth_nav_active %}{% endblock %}"><a href="{% url 'indepth' %}">In-Depth Articles</a></li>
			    		<li class="{% block news_nav_active %}{% endblock %}"><a href="{% url 'news' %}">Site News</a></li>
			    		<li class="{% block recent_nav_active %}{% endblock %}"><a href="{% url 'recent' %}">Recent Activity</a></li>
			    		<li class="dropdown {% block about_nav_active %}{% endblock %}">
				    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
				    		<ul class="dropdown-menu">
				    			{% load widget_tags %}
				    			{% about_pages_links %}
				    		</ul>
			    		</li>
			    	</ul>
				    <ul class="nav pull-right">
				    	<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-user {% if user.is_authenticated %}icon-white{% else %}icon-grey{% endif %}"></i>
								<span class="hide">User</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% if user.is_authenticated %}
									<li><a href="{% url 'private_profile' %}">{{ user.get_full_name }}’s profile</a></li>
									<li><a href="{% url 'logout' %}">Log out</a></li>
								{% else %}
									<li><a href="{% url 'login' %}{% if 'logout' not in request.path %}?next={{ request.path }}{% endif %}">Log in</a></li>
									<li><a href="{% url 'register' %}">Register</a></li>
								{% endif %}
							</ul>
						</li>
					</ul> <!-- .nav -->
			    </div> <!-- .nav-collapse -->

			</div> <!-- .container -->
	    </div> <!-- .navbar-inner -->
    </div> <!-- .navbar -->

	<div class="container" id="container-main">
		{% block breadcrumbs %}{% endblock %}

		{% if messages %}
		    {% for message in messages %}
			    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
	                <button type="button" class="close" data-dismiss="alert">&times;</button>
			    	{{ message|safe }}
			   	</div>
		    {% endfor %}
		{% endif %}

		{% block page_header %}
			<div class="page-header">
				<h1>{% block header_title %}{% endblock %}</h1>
			</div>
		{% endblock %}

		{% block content %}
			<div class="row-fluid">
				{% block main %}
				    <div class="span8">
						{% block main_content %}

						{% endblock %}
					</div> <!-- .span8 -->
				{% endblock %}

				{% block sidebar %}
				    <div class="span4">
				        <div class="well">
							{% block sidebar_content %}

							{% endblock %}
				      </div> <!-- .well -->
				    </div> <!-- .span4 -->
				{% endblock %}
			</div> <!-- .row-fluid -->
		{% endblock %}
	</div> <!-- .container -->

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/libs/bootstrap.min.js"></script>
	{% block extra_javascript_includes %}{% endblock %}
	<script src="{{ STATIC_PREFIX }}js/pepys.js?v=7"></script>

	<script>
		$(document).ready(function(){
			pepys.controller.init({
				{% if tooltip_references %}
					'tooltips': {
						{% for id, tip in tooltip_references.items %}
							'{{ id }}': {
								'title': "{{ tip.title|escapejs }}",
								'text': "{{ tip.text|escapejs }}",
								'thumbnail_url': "{{ tip.thumbnail_url|escapejs }}"
							}{% if not forloop.last %},{% endif %}
						{% endfor %}
					},
				{% endif %}
				'config': {
					mapbox_map_id: '{{ MAPBOX_MAP_ID }}',
					static_prefix: '{{ STATIC_PREFIX|escapejs }}'
				}
			});

			{% block extra_jquery %}{% endblock %}
		});
	</script>

	{% if GOOGLE_ANALYTICS_ID %}
	<!-- Google Analytics JS -->
	<script>
	    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS_ID }}'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	<!-- End Google Analytics JS -->
	{% endif %}
</body>
</html>
