{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

	{% load scaffolding_tags %}
	{% sidebar_row_start %}

		{% if entry_list %}
			{% include 'inc/entry_list.html' %}
		{% else %}
			<p class="lead">In 1660, at age 26, Samuel Pepys began his diary. He stopped a decade later.</p>

			<p class="lead">From 2003 until 2012 this site featured a daily entry from the diary accompanied by thoughts from readers. The complete diary, and the associated background information, is now an archive of this period of London history.</p>
		{% endif %}

	{% sidebar_row_middle %}

		{% if post_list %}
			<h4>Latest Site News</h4>
			<dl>
				{% for post in post_list %}
					<dt><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></dt>
					<dd>{{ post.date_published|date:date_format_longest }}</dd>
				{% endfor %}
			</dl>
		{% endif %}

		{% load widget_tags %}
		<ul class="feeds">
			{% rss_feed_link kind='entries' %}
		</ul>

		<p>This site is run by <a href="http://www.gyford.com/">Phil Gyford</a>.</p>

	{% sidebar_row_end %}

{% endblock content %}
