{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

	{% load scaffolding_tags %}
	{% load widget_tags %}

	{% sidebar_row_start %}

		{% if entry_list %}
			{% include 'inc/entry_list.html' %}
		{% else %}
			<p class="lead">In 1660, at age 26, Samuel Pepys began his diary. He stopped a decade later.</p>

			<p class="lead">From 2003 until 2012 this site featured a daily entry from the diary accompanied by thoughts from readers.</p>

			<p class="lead">Diary entries will begin appearing here again at 11pm (London time) on 1st January 2013.</p>

		{% endif %}

	{% sidebar_row_middle %}

		{% latest_news quantity=2 %}

		<h4>Twitter</h4>

		<p>Follow <a href="http://twitter.com/samuelpepys"><strong>@samuelpepys</strong></a> on Twitter for updates throughout the day.</p>

		<h4>Email</h4>

		<p><a href="http://feedburner.google.com/fb/a/mailverify?uri=PepysDiary&amp;loc=en_US">Receive diary entries by email daily</a></p>

		<ul class="feeds">
			{% rss_feed_link kind='entries' %}
		</ul>

	{% sidebar_row_end %}

{% endblock content %}
