{% extends "base.html" %}
{% load url from future %}

{% block diary_nav_active %}active{% endblock %}
{% block diary_home_nav_active %}active{% endblock %}

{% block page_header %}{% endblock %}


{% block main_content %}
	{% if entry_list %}
		<p class="lead">A new diary entry appears here at the end of each day.</p>

		{% include 'inc/entry_list.html' with entry_list=entry_list|slice:"7" %}

		{% if entry_list|length > 7 %}
			{# I should use `with entry=entry_list|slice:"7:" here, instead of `for`, but can't get it to work... #}
			{% for entry in entry_list|slice:"7:" %}
				<p><strong><a href="{{ entry.get_absolute_url }}"><i class="icon-arrow-left icon-link"></i> Continue reading {{ entry.title }}</a></strong></p>
			{% endfor %}
		{% endif %}

	{% else %}
		<p class="lead">In 1660, at age 26, Samuel Pepys began his diary. He stopped a decade later.</p>

		<p class="lead">From 2003 until 2012 this site featured a daily entry from the diary accompanied by thoughts from readers.</p>

		<p class="lead">Diary entries will begin appearing here again at 11pm (London time) on 1st January 2013.</p>

	{% endif %}
{% endblock main_content %}


{% block sidebar_content %}
	{% load widget_tags %}
	
	{% latest_posts quantity=2 %}

	{% twitter %}

	{% email %}

	{% rss_feeds %}

{% endblock sidebar_content %}


{% block site_footer_content %}
	{% load widget_tags %}

	<div class="col-sm-12">
		{% credit %}
	</div>
{% endblock %}
