{% extends "base.html" %}

{% block recent_nav_active %}active{% endblock %}
{% block recent_index_nav_active %}active{% endblock %}

{% block title %}Recent activity{% endblock %}}
{% block header_title %}Recent activity{% endblock %}}


{% block main_content %}

	<p class="text-muted">These lists update every five minutes.</p>

	{% load list_tags %}

	{% latest_commented_entries title="Most recently annotated Diary Entries" quantity=10 %}

	{% latest_commented_letters title="Most recently annotated Letters" quantity=5 %}

	{% latest_commented_topics title="Most recently annotated Encyclopedia Topics" quantity=5 %}

	{% latest_commented_articles title="Most recently commented-on In-Depth Articles" quantity=5 %}

	{% latest_commented_posts title="Most recently commented-on Site News Posts" quantity=5 %}

{% endblock main_content %}


{% block sidebar_content %}
	{% load widget_tags %}
	
	{% latest_posts quantity=5 %}

	{% latest_articles quantity=5 %}

	{% latest_topics quantity=5 %}

{% endblock sidebar_content %}
