{% extends "base.html" %}
{% load humanize search_tags %}

{% block title %}Search{% if search_string %}: {{ search_string }}{% if page_obj.number > 1 %} (p.{{ page_obj.number }}){% endif %}{% endif %}{% endblock %}}
{% block header_title %}Search{% endblock %}}

{% block main_content %}

  <form class="form-horizontal">
    <div class="form-group">
      <label for="search-text" class="col-sm-3 control-label">Search for…</label>
      <div class="col-sm-9 col-md-7 col-lg-6">
        <input type="text" class="form-control" id="search-text" name="q" value="{% if search_string %}{{ search_string }}{% endif %}">
      </div>
    </div>

    <div class="form-group">
      <label for="search-kind" class="col-sm-3 control-label">
        <span class="sr-only">search </span>in…
      </label>
      <div class="col-sm-9 col-md-7 col-lg-6">
        <select class="form-control" name="k" id="search-kind">
          <option value="d"{% if model_name == 'Entry' %} selected{% endif %}>Diary entries</option>
          <option value="l"{% if model_name == 'Letter' %} selected{% endif %}>Letters</option>
          <option value="t"{% if model_name == 'Topic' %} selected{% endif %}>Encyclopedia topics</option>
          <option value="a"{% if model_name == 'Article' %} selected{% endif %}>In-depth articles</option>
          <option value="p"{% if model_name == 'Post' %} selected{% endif %}>Site news posts</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="search-order" class="col-sm-3 control-label">
        order by…
      </label>
      <div class="col-sm-9 col-md-7 col-lg-6">
        <select class="form-control" name="o" id="search-order">
          <option value="r"{% if order_string == 'r' or order_string == '' %}selected{% endif %}>Relevancy</option>
          <option value="az"{% if order_string == 'az' %}selected{% endif %}>Title</option>
          <option value="da"{% if order_string == 'da' %}selected{% endif %}>Date (earliest first)</option>
          <option value="dd"{% if order_string == 'dd' %}selected{% endif %}>Date (latest first)</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>


  {% if search_string %}
    <hr>
    <p>Searching 
      for <strong>{{ search_string }}</strong>,
      in 
      <strong>
        {% if model_name == 'Entry' %}diary entries{% elif model_name == 'Topic' %}encyclopedia topics{% elif model_name == 'Letter' %}letters{% elif model_name == 'Article' %}in-depth articles{% elif model_name == 'Post' %}site news posts{% endif %}</strong>,
      ordered by <strong>{% if order_string == 'az' %}title{% elif order_string == 'da' %}date (earliest first){% elif order_string == 'dd' %}date (latest first){% else %}relevancy{% endif %}</strong>.
    </p>

    <p>
      {% if paginator.count > 0 %}
        {{ paginator.count|intcomma|apnumber|title }} found.
      {% else %}
        Nothing was found.
      {% endif %}
    </p>
  {% endif %}

  {% if page_obj.number > 1 %}
    {% include 'inc/paginator.html' with page_obj=page_obj %}
  {% endif %}

  {% if model_name == 'Letter' %}
    {% include 'letters/inc/letter_list.html' with letter_list=object_list show_intro=False show_years=False %}

  {% else %}
    <ul class="list-unstyled">
      {% for object in object_list %}
        <li><p>
          {% spaceless %}<a href="{{ object.get_absolute_url }}">
            <strong>
              {% if model_name == 'Topic' %}
                {{ object.order_title }}
              {% else %}
                {{ object.title }}
              {% endif %}
            </strong>
          </a>{% endspaceless %}
          <br>
          {% if model_name != 'Entry' %}
            <small class="text-muted">
              {% if model_name == 'Topic' %}
                {{ object.date_created|date:date_format_long }} -
              {% elif model_name == 'Article' or model_name == 'Post'  %}
                {{ object.date_published|date:date_format_long }} -
              {% endif %}
            </small>
          {% endif %}
          {% search_summary object search_string %}
        </p></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% include 'inc/paginator.html' with page_obj=page_obj %}

{% endblock main_content %}


{% block sidebar_content %}

  <aside class="aside-block">
    <header class="aside-header"><h1 class="aside-title">Search help</h1></header>
    <div class="aside-body">
      <p>Punctuation in search terms is ignored, so searching for <kbd>"W.&nbsp;Hewer"</kbd> is the same as <kbd>W&nbsp;Hewer</kbd>. </p>
      <p>Both searches will return results that contain <kbd>W</kbd> and <kbd>Hewer</kbd> but, if results are ordered by relevancy, those containing “W&nbsp;Hewer” together will be nearer the top.</p>
    </div>
  </aside>

  <aside class="aside-block">
    <header class="aside-header"><h1 class="aside-title">Alternative searches</h1></header>
    <div class="aside-body">
      <p>Or, search the site using:</p>

      <ul>
        <li>
          <a href="https://www.bing.com/search?q=site%3Apepysdiary.com{% if search_string %}+{{ search_string|urlencode }}{% endif %}">Bing</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/?q=site%3Apepysdiary.com{% if search_string %}+{{ search_string|urlencode }}{% endif %}">DuckDuckGo</a>
        </li>
        <li>
          <a href="https://www.google.com/search?q=site%3Apepysdiary.com{% if search_string %}+{{ search_string|urlencode }}{% endif %}">Google</a>
        </li>
      </ul>
    </div>
  </aside>

{% endblock sidebar_content %}

