{% comment %}
Used for all of the membership-related forms.
Expects:
	* form - A Form model (required).
	* csrf_token - Input field (required).
	* next - For login/registration forms, the URL of the 'next' page (optional).
	* url_name - The name of a URL for the form to submit to (optional).
	* form_id - CSS ID for the form (optional).
	* submit_text - Text for the submit button (optional, default is "Submit").
	* cancel_url_name - If we want a 'Cancel' link, the name of the URL to link to.
{% endcomment %}

{% if form.non_field_errors %}
    <div class="alert error">
        <p>{{ form.non_field_errors }}</p>
    </div>
{% endif %}
<form action="{% if url_name %}{% url url_name %}{% endif %}" method="post"{% if form_id %} id="{{ form_id }}"{% endif %} class="form-horizontal form-membership">
	{% csrf_token %}
	{% load form_filters %}
    <fieldset>
        {% for field in form %}
        	<div class="control-group{% if field.errors %} error{% endif %}"{% if field.name == 'honeypot' %} style="display:none;"{% endif %}>
				<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
			    <div class="controls">
			        {{ field|tabindex:forloop.counter }}
			        {% if field.errors %}
			            <span class="help-inline control-group error">{{ field.errors|join:'<br />' }}</span>
			        {% endif %}
			        
			        <span class="help-block">{{ field.help_text }}</span>
			    </div>
			</div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% if submit_text %}{{ submit_text }}{% else %}Submit{% endif %}</button>
            {% if cancel_url_name %}
            	&nbsp; or &nbsp; <a href="{% url cancel_url_name %}">Cancel</a>
            {% endif %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            {% for hidden in form.hidden_fields %}
			    {{ hidden }}
		    {% endfor %}
        </div>
    </fieldset>
</form>


