{% comment %}
Might have this passed in:
* `link_final_item` either "true" or "false" (default).
{% endcomment %}
<ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
	<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
		<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{% url 'encyclopedia' %}">
			<span itemprop="name">Encyclopedia</span>
		</a>
		<meta itemprop="position" content="1" />
	</li>
	{% for a in category.get_ancestors %}
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ a.get_absolute_url }}">
				<span itemprop="name">{{ a.title }}</span>
			</a>
			<meta itemprop="position" content="2" />
		</li>
	{% endfor %}
	{% if link_final_item == 'true' %}
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ category.get_absolute_url }}">
				<span itemprop="name">{{ category.title }}</span>
			</a>
			<meta itemprop="position" content="3" />
		</li>
	{% else %}
		<li class="active">
			{{ category.title }}
		</li>
	{% endif %}
</ol>

