{% extends "common/layouts/base.html" %}

{% load utility_filters %}

{% block title %}Flag this?{% endblock %}
{% block header_title %}Flag this?{% endblock %}

{% block main_content %}
    <p class="lead">If this is spam, or is otherwise inappropriate, please flag it for attention. Thanks.</p>

	<section class="media-list comments">
    <article class="media">
			<div class="media-body">
				<header class="media-heading">
					<p>
						<span class="comment-name">
							{{ comment.name }}
						</span>
						<small>on {{ comment.submit_date|date:date_format_mid }}</small>
					</p>
				</header>
        {{ comment.comment|striptags|custom_urlizetrunc:34|linebreaks }}
      </div>
    </article>
	</section>

  <form action="{% url "annotations-flag" comment.id %}" method="post" role="form">
		<div class="form-group">
      {% csrf_token %}
			<div class="pull-right">
				<a href="{{ comment.get_absolute_url }}" title="Return to the previous page">Cancel</a>
				&nbsp; or &nbsp;
			    <button type="submit" name="submit" class="btn btn-primary">Flag it</button>
				{% if next %}
					<input type="hidden" name="next" value="{{ next }}" id="next" />
				{% endif %}
			</div>
		</div>
	</form>

{% endblock main_content %}

{% block sidebar %}
{% endblock %}
