{% comment %}
Used for all of the lists of comments on Entries, Articles, etc.
AND for the list of comments on a Person Profile page.

Expects:
* comment_list - The list of Annotation objects (required)
* object - Probably the Entry, Article, etc these comments are on. BUT on the
		   Profile page `object` is the currently-viewed Person.
* show_object_titles - If True, we display the titles of the objects the
					   comments are posted on. Optional, default False.
* show_section_title - If True we show the 'Comments' (or similar) h1 title.
					   Optional, default True.
* only_comments - If True, we only show the comments, no form. If False, or
				  not present, we show the comment form.
* link_users - If True then we link to logged-in users' profile pages.

NOTE: The listings in templatetags/list_tags.py for the Recent Activity page
	  and the preview in teamplates/inc/comment_form.html
      use similar HTML.
{% endcomment %}
{% load utility_filters %}

<section id="{% if object and object.comment_name %}{{ object.comment_name }}{% else %}comment{% endif %}s" class="media-list comments">
	<h1 class="comments-title{% if show_section_title == False %} sr-only{% endif %}">
		{% if object %}
			{{ object.comment_count }}
			{% if object.comment_name %}
				{{ object.comment_name|capfirst }}{{ object.comment_count|pluralize }}
			{% else %}
				Comments
			{% endif %}
		{% else %}
			Comments
		{% endif %}
	</h1>
  	{% for comment in comment_list %}

      {% ifchanged %}<h2 class="comments-reading">{{ comment.reading|ordinal_word|title }} Reading</h2>{% endifchanged %}

	    <article id="c{{ comment.id }}" class="media newable" data-time="{{ comment.submit_date|date:'U' }}">
    		<span class="newflag pull-left" aria-hidden="true">✹</span>
	    	<div {% if forloop.last %} id="latest"{% endif %}class="media-body">
	    		{% if show_object_titles %}
	    			<p>About <a href="{{ comment.content_object.get_absolute_url }}"><strong>{{ comment.content_object.title }}</strong></a></p>
	    		{% endif %}
				<h3 class="media-heading">
					<span class="comment-name">
						{% if comment.user %}
							{% if comment.user.is_active %}
							   <a href="{{ comment.user.get_absolute_url }}" title="See more about this person">{{ comment.get_user_name }}</a>
							{% else %}
							  {{ comment.get_user_name }}
							{% endif %}
						{% elif comment.get_user_url %}
							<a href="{{ comment.get_user_url }}" title="Visit this person’s website" rel="nofollow">{{ comment.get_user_name }}</a>
						{% else %}
							{{ comment.get_user_name }}
						{% endif %}
					</span>
					<small>
						<time class="timeago" datetime="{{ comment.submit_date|date:'c' }}">on {{ comment.submit_date|date:date_format_mid }}</time>
						<small>
							&nbsp;•&nbsp; <a href="{% if show_object_titles %}{{ comment.content_object.get_absolute_url }}{% endif %}#c{{comment.id}}" title="Link directly to this {% if object and object.comment_name %}{{ object.comment_name }}{% endif %}" class="comment-link">Link</a>
							{% if user.is_authenticated %}
								&nbsp;•&nbsp; <a href="{% url 'annotations-flag' comment.id %}" title="Flag this {{ object.comment_name }} if it’s spam or inappropriate. You’ll have a chance to confirm.">Flag</a>
							{% endif %}
							{% if perms.annotation.can_edit %}
								&nbsp;•&nbsp; <a class="admin" href="{% url 'admin:annotations_annotation_change' comment.id %}" title="Edit">Edit</a>
							{% endif %}
						</small>
					</small>
				</h3>
		        {{ comment.comment|urlizetrunc:34|linebreaks }}
		    </div>
		</article>
	{% endfor %}
</section>

{% if not only_comments %}
	{% load comments %}
	{% get_comment_form for object as form %}
	{% include 'comments/inc/comment_form.html' %}
{% endif %}
