
/* Modifications to Bootstrap */

.navbar-inverse .navbar-inner {
	background-color: #222;
	border-color: #222;
	background-image: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
@media (min-width: 980px) {
	.navbar .container {
		width: 940px;
	}
}
@media (max-width: 979px) {
	.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
	.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
	.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
		background-color: #111;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover {
		background-color: #111;
	}
	.dropdown-menu li > a:hover,
	.dropdown-menu li > a:focus,
	.dropdown-submenu:hover > a {
		/* Get rid of blue background */
		background-image: none;
	}
}

blockquote {
	margin-bottom: 0;
	border-left: none;
	padding-left: 30px;
}
blockquote p {
	margin-bottom: 10px;	
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}
.well-manuscript {
	background: #f1f4eb;
	border-color: #e8e7dc;
	font-family: Georgia, Times, serif;
	font-size: 16px;
	line-height: 24px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.well-manuscript li {
	line-height: 24px;
	margin-bottom: 10px;
}
.well-manuscript .popover-title,
.well-manuscript .popover-content {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	font-size: 12px;
	line-height: 18px;
	font-style: normal;
}
.well-manuscript .popover-title {
	font-weight: bold;
}
.popover-hasthumbnail {
	width: 356px;
}
.popover-hasthumbnail .popover-thumbtext {
	float: left;
	width: 208px;
	margin-right: 10px;
}
.popover-hasthumbnail .popover-thumbnail {
	float: left;
}

/* Global styles */

body {
	padding-bottom: 3em;
}
cite {
	font-style: italic;
}
.center {
	text-align: center;
}
ul.feeds {
	margin-left: 0;
	list-style-type: none;
}
.feed a {
	padding-left: 20px;
	background: url(../img/feed-icon-14x14.png) left 1px no-repeat;
}
img.force-fullwidth {
	/* To stop max-width:100% being applied. */
	max-width: none;
}
.icon-grey {
	/* Custom icons, 50% opacity of the white ones. */
	background-image: url("../img/glyphicons-halflings-grey.png");
}
a:hover .icon-grey {
	background-image: url("../img/glyphicons-halflings-white.png");
}
.form-membership {
	margin-top: 2em;
}

/* Header */

.site-header {
	background: #050505;
	color: #999;
}
.site-header .container {
	background: url(../img/header_pepys.jpg) right bottom no-repeat;
	height: 125px;
}
.site-header a {
	color: #999;
}
.site-header a:hover {
	color: #fff;
	text-decoration: none;
}
.site-header-title {
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	margin: 24px 0 0 0;
	text-rendering: optimizelegibility;
}
.site-header-subtitle {
	font-size: 16px;
	line-height: 24px;
	text-rendering: optimizelegibility;
}
@media (max-width: 767px) {
	.site-header-title,
	.site-header-subtitle {
		margin-left: 15px;
	}
}
@media (max-width: 660px) {
	/* Hide portrait at narrow widths. */
	.site-header .container {
		background: none;
	}
}
@media (max-width: 530px) {
	/* Shrink header and text at narrower widths. */
	.site-header .container {
		height: 70px;
	}
	.site-header-title {
		font-size: 24px;
		line-height: 36px;
		margin-top: 6px;
	}
	.site-header-subtitle {
		font-size: 14px;
		line-height: 18px;
	}
}
@media (max-width: 380px) {
	.site-header-title {
		font-size: 18px;
		line-height: 24px;
		margin-top: 6px;
	}
	.site-header-subtitle {
		font-size: 12px;
		line-height: 16px;
	}
}
@media (max-width: 320px) {
	.site-header-subtitle {
		display: none;
	}
}

/* Comments */

.comments {
	border-top: 1px solid #E3E3E3;
	padding-top: 1em;
	margin-bottom: 2em;
}
.comments .media {
	border-bottom: 1px solid #E3E3E3;
}
.comments h4 {
	font-weight: normal;
}
.comments h4 .comment-name {
	font-weight: bold;
}

/* Entries */

.entry h1,
.entry h2,
.intro1893 h2 {
	margin-top: 0;
	font-size: 24px;
}
.entry h2 a {
	color: #333;
}
.entry-meta {
	margin: -0.8em 0 2em 20px;
}
.footnotes {
	margin-top: 1em;
	border-top: 1px solid #d8d7cc;
	padding-top: 1em;
}

/* entry_archive */
.diary-archive,
.diary-archive ul {
	list-style-type: none;
}
.diary-archive li span {
	display: inline-block;
	width: 1.5em;
}
.diary-archive ul {
	display: inline-block;
}
.diary-archive ul li {
	display: inline-block;
	margin-left: 1em;
}

/* topic_detail */
.references,
.references ul {
	list-style-type: none;
}
.references-year li > span {
	display: inline-block;
	width: 2.5em;
}
.references-month,
.references-month li {
	display: inline-block;
	margin-left: 0;
}

/* Letters */
.letters {
	list-style-type: none;
	margin-left: 0;
}
.letters li {
	margin-bottom: 1em;
}
.letter-to {
	font-style: italic;
	margin-bottom: 1em;
}
.letter-from {
	margin-bottom: 1em;
	text-align: right;
}
.letter-to p,
.letter-from p {
	margin-bottom: 0;
}
.letter-yours {
	margin-left: 130px;
	margin-bottom: 1em;
}
.letter-yours p {
	margin-left: 0;
	margin-bottom: 0;
}
p.letter-indent {
	margin-left: 4em;
}
p.letter-indent-2 {
	margin-left: 8em;
}

/* Sidebar */
.sidebar-block {
	padding-bottom: 1em;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 2em;
}
.sidebar-block:last-child {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}