/**
 * CHART.
 * The chart showing topic references in the Encyclopedia.
 * And the Pepys' Wealth chart in the Encyclopedia.
 */


.chart {
	width: 100%;
}

.chart-wealth {
    margin: 1em 0;
}

/* Bars on the chart: */
.chart line {
	/* General line styles. */
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.chart .bar {
	fill: $gray-dark;
    opacity: 0.8;
}

/* The line on the wealth chart. */
.chart .valueline {
    stroke: $gray-dark;
    stroke-width: 2px;
}

.chart .bar.highlight {
	opacity: 1.0;
}

.chart .axis-y .tick line {
    stroke: $gray-light;
}

.chart-wealth .axis-y path,
.chart .axis-x path {
	/* The baseline. */
	stroke: $text-color;
    width: 1px;
}

.chart .axis-x .tick line {
	/* The individual ticks. */
	stroke: $text-color; 
}

.chart-tooltip {
	background: #fff;
	position: absolute;
	z-index: 10;
	visibility: hidden;
	box-shadow: 1px 1px 3px #666;
	/* Font size, padding is set by JS. */
}


.chart-wealth .overlay {
  fill: none;
  pointer-events: all;
}

.chart-wealth .focus circle {
  fill: none;
  stroke: $gray-dark;
}

