{% extends "common/layouts/base.html" %}

{% block title %}Log in{% endblock %}}
{% block header_title %}Log in{% endblock %}}

{% block main_content %}

    {% if config.allow_login %}
        <p>If you don’t have an account yet, then <a href="{% url 'register' %}">register here</a>.</p>

        {% include "membership/inc/form.html" with url_name='login' form_id="login-form" submit_text="Log in" %}

        <p>Forgotten your password? <a href="{% url 'password_reset' %}">Request a new one.</a></p>

    {% else %}

        <p>Sorry, logging in is currently disabled.</p>

        <p>Keep an eye on <a href="{% url 'news' %}">Site News</a> for more information.</p>

    {% endif %}

{% endblock main_content %}

{% block sidebar %}
{% endblock sidebar %}
