{% extends "base_full_width.html" %}

{% block title %}Reset password{% endblock %}}
{% block header_title %}Reset password{% endblock %}}

{% block main_content %}

    {% if config.allow_login %}

        <p>If you've forgotten your password, enter your email address below.</p>

        <p>We'll email you instructions for setting a new one.</p>

        {% include 'membership/inc/form.html' with url_name='password_reset' form_id='password-reset' submit_text="Send reset instructions" %}

    {% else %}

        <p>Sorry, logging in is currently disabled, so you can’t request a new password right now.</p>

        <p>Keep an eye on <a href="{% url 'news' %}">Site News</a> for more information.</p>

    {% endif %}

{% endblock main_content %}