{% extends "base.html" %}

{% block title %}{% if validlink %}Enter your new password{% else %}Oops{% endif %}{% endblock %}
{% block header_title %}{% if validlink %}Enter your new password{% else %}Oops{% endif %}{% endblock %}

{% block main_content %}

    {% if config.allow_login %}
        {% if validlink %}
            <p>Enter your new password twice below.</p>

            {% include 'membership/inc/form.html' with form_id='password-reset-confirm' submit_text="Set new password" %}

        {% else %}
            <p>Something’s gone wrong.</p>

            <p>Maybe you copied and pasted the link from the email and missed some characters off the end?</p>

            <p>Or maybe you’ve already used this link once? If so, <a href="{% url 'user_password_reset' %}">request a new one</a>.</p>
        {% endif %}

    {% else %}

        <p>Sorry, logging in is currently disabled, so you can’t change your password right now.</p>

        <p>Keep an eye on <a href="{% url 'news' %}">Site News</a> for more information.</p>

    {% endif %}

{% endblock main_content %}

{% block sidebar %}
{% endblock sidebar %}
