{% extends "common/layouts/base.html" %}

{% load humanize text_formatting_filters %}

{% block title %}{% if is_private_profile %}Your profile{% else %}{{ person.get_full_name }}{% endif %}{% endblock %}
{% block header_title %}{% if is_private_profile %}Your profile{% else %}{{ person.get_full_name }}{% endif %}{% endblock %}


{% block main_content %}

    {% if perms.person.can_edit %}
        {% load widget_tags %}
        {% url 'admin:membership_person_change' person.id as change_url %}
        {% admin_link_change change_url %}
    {% endif %}

    {% if is_private_profile or person.url %}
        {# There is something to show... #}

        <article>
            {% if is_private_profile %}
                {# The logged-in user viewing themselves. #}
                <div class="form-horizontal">
                    <div class="form-group">
                        <span class="control-label label-static col-md-4">Name</span>
                        <span class="col-md-8 form-control-static">{{ person.name }}</span>
                    </div>
                    <div class="form-group">
                        <span class="control-label label-static col-md-4">Email</span>
                        <span class="col-md-8 form-control-static">{{ person.email }}</span>
                    </div>
                    <div class="form-group">
                        <span class="control-label label-static col-md-4">Website</span>
                        <span class="col-md-8 form-control-static">{% if person.url %}<a href="{{ person.url }}" rel="nofollow">{{ person.url|urlizetrunc:34 }}</a>{% else %}<span class="text-muted">None</span>{% endif %}</span>
                    </div>
                </div>

            {% else %}
                {# Public view. #}

                {% if person.url %}
                    <p class="lead">Website: <a href="{{ person.url }}" rel="nofollow">{{ person.url|urlizetrunc:34 }}</a></p>
                {% endif %}

            {% endif %}
        </article>

        <hr class="decoration decoration-small">
    {% endif %}

  {% with person.get_indepth_articles as articles %}
    {% if articles %}
      <h2>Articles</h2>

      <p>{% if is_private_profile %}You have{% else %}{{ person.get_full_name }} has{% endif %} written {% if articles|length == 1 %}this article{% else %}{{ articles|length|apnumber }} articles{% endif %}:</p>

      <ul>
        {% for article in articles %}
          <li><a href="{{ article.get_absolute_url }}">{% if article.category == "book-reviews" %}<cite>{{ article.title|smartypants|safe }}</cite>{% if article.item_authors %} by {{ article.item_authors }}{% endif %}{% else %}{{ article.title|smartypants|safe }}{% endif %}</a> <span class="text-nowrap text-muted">({{ article.date_published|date:date_format_long }})</span></li>
        {% endfor %}
      </ul>
      <hr>
    {% endif %}
  {% endwith %}

  {% with person.get_summarised_topics as topics %}
    {% if topics %}
      <h2>Encyclopedia topics</h2>

      <p>{% if is_private_profile %}You have{% else %}{{ person.get_full_name }} has{% endif %} written {% if topics|length == 1 %}a summary for this topic{% else %}summaries for {{ topics|length|apnumber }} topics{% endif %}:</p>

      <ul>
        {% for topic in topics %}
          <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
        {% endfor %}
      </ul>
      <hr>
    {% endif %}
  {% endwith %}

	<h2>Annotations and comments</h2>

  {% with comment_count=page_obj.paginator.count %}
    <p>{% if is_private_profile %}You have{% else %}{{ person.get_full_name }} has{% endif %} posted {% if comment_count == 0 %}no{% else %}{{ comment_count|apnumber|intcomma }}{% endif %} annotation{{ comment_count|pluralize }}/comment{{ comment_count|pluralize }}{% if person.first_comment_date %} since {{ person.first_comment_date|date:date_format_long }}{% endif %}.</p>
  {% endwith %}

	{% if comment_list %}
    {% if page_obj.number == 1 %}
      {% if page_obj.paginator.count > 1 %}
        <p><strong>The most recent first…</strong></p>
      {% endif %}
    {% else %}
      {% include 'common/inc/paginator.html' %}
    {% endif %}

		{% include "comments/list.html" with show_object_titles=True only_comments=True show_section_title=False %}

	  {% include 'common/inc/paginator.html' %}
	{% endif %}

{% endblock main_content %}


{% block sidebar_content %}
	{% if is_private_profile %}
		<aside class="aside-block">
      <div class="aside-body">
        <p><strong>Only you can see this page</strong></p>
        <p><a href="{% url 'profile' pk=user.pk %}">See what everyone else sees</a></p>
        <p><a href="{% url 'edit_profile' %}">Edit your profile</a></p>
      </div>
		</aside>
	{% elif user.is_authenticated and user.pk == person.pk %}
		<aside class="aside-block">
      <div class="aside-body">
        <p><strong>This is the public view of your profile</strong></p>
        <p><a href="{% url 'private_profile' %}">See or edit all your details</a></p>
      </div>
		</aside>
	{% endif %}
{% endblock sidebar_content %}
