{% extends "common/layouts/base.html" %}

{% block title %}Register{% endblock %}}
{% block header_title %}Register{% endblock %}}

{% block main_content %}

    {% if config.allow_registration %}
        <p>Registering will enable you to post annotations.</p>

        <p>If you already have an account, <a href="{% url 'login' %}">then log in</a>.</p>

        {% include "membership/inc/form.html" with url_name='register' form_id='registration_form' submit_text='Register' %}

    {% else %}

        <p>Sorry, new registrations aren’t allowed at the moment.</p>

        <p>Keep an eye on <a href="{% url 'news' %}">Site News</a> for more information.</p>

    {% endif %}

{% endblock main_content %}

{% block sidebar %}
{% endblock sidebar %}
