{% comment %}
Used for displaying the original comment/annotation form, and the preview.

Expects:
	* form - The form object (required).
	* preview - Boolean. Is this the preview form or not? (optional, default False).
	* object - The object we're commenting on (not required, but expected).

{% endcomment %}

{% load utility_filters %}

{% if config and config.allow_comments %}
	{% if object.allow_comments %}
		{% if user.is_authenticated %}
			{% load comments %}

		    <div id="comment">

		    	{% comment %}
		    	If the user just posted a comment that was flagged as spam,
		    	we'll have a message with the tag of "spam warning", so we
		    	display just that here, which is where they'll be after being
		    	returned to this page.
		    	{% endcomment %}
		    	{% if messages %}
		    		{% for message in messages %}
		    			{% if message.tags == 'spam warning' %}
		    				<div class="alert alert-{{ message.tags }}">
				                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				                {{ message|safe }}
				            </div>
		    			{% endif %}
		    		{% endfor %}
		    	{% endif %}

				{% if form.non_field_errors %}
				    <div class="alert alert-error alert-block">
				    	<p><strong>Oops, there {% if form.non_field_errors|length == 1 %}was an error{% else %}were some errors{% endif %}</strong></p>
				        <p>{{ form.non_field_errors }}</p>
				    </div>
				{% else %}
					{% if preview and form.comment.value %}
						<section class="media-list comments">
						    <article class="media">
								<span class="newflag pull-left is-new" aria-hidden="true" title="New since your last visit">✹</span>
								<span class="sr-only">New since your last visit</span>

						    	<div class="media-body">
						        	<h2 class="media-heading">
										<span class="comment-name">{{ user.get_full_name }}</span>
										<small>on {{ time_now|date:date_format_mid }}</small>
									</h2>
							        {{ form.comment.value|striptags|custom_urlizetrunc:34|linebreaks }}
							    </div>
							</article>
						</section>
					{% endif %}
				{% endif %}

			    <form action="{% comment_form_target %}" method="post" id="comment-form" role="form" class="clearfix">
				    <div class="form-group{% if form.comment.errors %} has-error{% endif %}">
				    	{% if preview %}
					    	<label class="control-label comment-form-title" for="id_comment">Edit your {{ object.comment_name }} if required:</label>
				    	{% else %}
					    	<label class="control-label comment-form-title" for="id_comment">Post {{ object.get_a_comment_name }} as <strong>{{ user.get_full_name }}</strong>:</label>
					    {% endif %}
						{% if form.comment.errors %}
							<span class="help-block has-error">{{ form.comment.errors|join:'<br />' }}</span>
						{% endif %}
						<textarea class="form-control" cols="40" rows="8" id="id_comment" name="{{ form.comment.name }}">{% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>
						<p class="comment-form-notes text-muted">
							Please keep {{ object.comment_name }}s on topic and <a href="{% url 'about_annotations' %}">read the guidelines</a>.<br />
							No HTML allowed. URLs will be turned into links.<br />
							You’re not {{ user.get_full_name }}? <a href="{% url 'logout' %}">Log out.</a>
						</p>
					</div> <!-- .form-group -->
					<p class="pull-right">
						{% if preview %}
							<a href="{{ object.get_absolute_url }}#comment" title="Return to the previous page">Cancel</a>
							&nbsp; or &nbsp;
						{% endif %}
						<button type="submit" name="preview" class="btn btn-primary">Preview your {{ object.comment_name }}{% if preview %} again{% endif %}</button>
						{% if preview %}
							&nbsp; or &nbsp; <button type="submit" name="submit" class="btn btn-primary">Post it</button>
						{% endif %}
					</p>

					{% csrf_token %}
					{{ form.honeypot }}
					{{ form.content_type }}
					{{ form.object_pk }}
					{{ form.timestamp }}
					{{ form.security_hash }}
					{% if preview %}
						{% if next %}
							<input type="hidden" name="next" value="{{ next }}" />
						{% endif %}
					{% else %}
						<input type="hidden" name="next" value="{{ object.get_absolute_url }}#latest" />
					{% endif %}
			    </form>
			</div> <!-- #comment -->
		{% else %}
			{# User isn't logged in #}
			<div id="comment" class="comments-no-form">
				{% if config.allow_login %}
				<p><strong><a href="{% url 'login' %}?next={{ request.path }}#comment">Log in</a> to post {{ object.get_a_comment_name }}.</strong></p>

					{% if config.allow_registration %}
						<p>If you don't have an account, then <a href="{% url 'register' %}?next={{ request.path }}#comment">register here</a>.</p>
					{% endif %}
				{% else %}
					<p class="text-warning">Sorry, it’s not possible to log in and post {{ object.comment_name }}s at the moment.</p>
				{% endif %}
			</div>
		{% endif %}
	{% else %}
		<div id="comment" class="comments-no-form">
			<p class="text-warning">{{ object.comment_name|capfirst }}s are closed on this page.</p>
		</div>
	{% endif %}
{% else %}
	<div id="comment" class="comments-no-form">
		<p class="text-warning">Sorry, it’s not possible to post {{ object.comment_name }}s at the moment.</p>
	</div>
{% endif %}
