{% extends "base.html" %}
{% load text_formatting_filters %}

{% block indepth_nav_active %}active{% endblock %}

{% block title %}{{ article.title|smartypants|safe }}{% endblock %}}
{% block header_title %}{{ article.title|smartypants|safe }}{% endblock %}}


{% block main_content %}

	<article itemscope itemtype="http://schema.org/Article">
		{% if perms.article.can_edit %}
			{% load widget_tags %}
			{% url 'admin:indepth_article_change' article.id as change_url %}
			{% admin_link_change change_url %}
		{% endif %}

    <span class="hidden" itemprop="name">{{ article.title|smartypants }}</span>

    <p class="article-byline">
      {% if article.author %}
        By <a href="{{ article.author.get_absolute_url }}" itemprop="author">{{ article.author.name }}</a>,
      {% endif %}
      <time class="text-nowrap" datetime="{{ article.date_published|date:"Y-m-d" }}" itemprop="datePublished">{{ article.date_published|date:date_format_long }}</time>
    </p>

		{{ article.intro_html|smartypants|safe }}

		{{ article.text_html|smartypants|safe }}
	</article>

	{% include 'inc/next_previous.html' with next=next_article previous=previous_article %}

	{% include 'inc/comments.html' with object=article %}

{% endblock main_content %}


{% block sidebar_content %}

    {% load widget_tags %}

    {% all_articles exclude_id=article.id %}

{% endblock sidebar_content %}
