{% extends "base.html" %}
{% load url from future %}

{% block indepth_nav_active %}active{% endblock %}

{% block title %}In-Depth Articles{% endblock %}}
{% block header_title %}In-Depth Articles{% endblock %}}

{% block main_content %}

	{% load text_formatting_filters %}

	<p class="lead">Longer articles on broader topics that might not fit in regular annotations or the <a href="{% url 'encyclopedia' %}">Encyclopedia</a>.</p>

	<hr />

	{% for article in article_list %}
		<article class="indepth">
			<h2 class="h4"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>

			<p><strong>{{ article.date_published|date:date_format_longest }}</strong></p>

			{{ article.intro_html|smartypants|safe }}

			{% if article.text %}
				<p><a href="{{ article.get_absolute_url }}">Continue reading…</a></p>
			{% endif %}
		</article>

		<hr />
	{% endfor %}
	
	{% include 'inc/paginator.html' %}

{% endblock main_content %}


{% block sidebar_content %}

	{% load widget_tags %}
	{% rss_feeds 'articles' %}

{% endblock sidebar_content %}
