{% extends "base.html" %}

{% block indepth_nav_active %}active{% endblock %}
{% block indepth_index_nav_active %}active{% endblock %}

{% block title %}Articles{% endblock %}}
{% block header_title %}Articles{% endblock %}}

{% block main_content %}

	<p class="lead">Longer articles on broader topics.</p>

	<hr />

	{% include 'inc/articles.html' %}

	{% include 'inc/paginator.html' %}

{% endblock main_content %}


{% block sidebar_content %}

	{% include 'inc/indepth_category_nav.html' %}

{% endblock sidebar_content %}
