{% extends "base.html" %}
{% load text_formatting_filters %}

{% block indepth_nav_active %}active{% endblock %}

{% block title %}{{ article.title|smartypants|safe }}{% endblock %}}
{% block header_title %}{{ article.title|smartypants|safe }}{% endblock %}}


{% block main_content %}

	<article>
		{% if perms.article.can_edit %}
			{% load widget_tags %}
			{% url 'admin:indepth_article_change' article.id as change_url %}
			{% admin_link_change change_url %}
		{% endif %}

		<p class="article-date">{{ article.date_published|date:date_format_longest }}</p>

		{{ article.intro_html|smartypants|safe }}

		{{ article.text_html|smartypants|safe }}
	</article>

	{% include 'inc/next_previous.html' with next=next_article previous=previous_article %}

	{% include 'inc/comments.html' with object=article %}

{% endblock main_content %}


{% block sidebar_content %}

    {% load widget_tags %}

    {% all_articles exclude_id=article.id %}

{% endblock sidebar_content %}
