{% extends "base.html" %}
{% load text_formatting_filters %}

{% block indepth_nav_active %}active{% endblock %}

{% block title %}{{ article.title|smartypants|safe }}{% endblock %}}
{% block header_title %}{{ article.title|smartypants|safe }}{% endblock %}}


{% block main_content %}

	<article>
		<p class="indepth-date">{{ article.date_published|date:date_format_longest }}</p>

		{{ article.intro_html|smartypants|safe }}

		{{ article.text_html|smartypants|safe }}

		{% if perms.article.can_edit %}
			<p class="admin-links"><a class="admin" href="{% url 'admin:indepth_article_change' article.id %}"><span class="glyphicon glyphicon-edit"></span> Edit</a></p>
		{% endif %}
	</article>

	{% include 'inc/comments.html' with object=article %}

{% endblock main_content %}


{% block sidebar_content %}
	{% include 'inc/next_previous.html' with next=next_article previous=previous_article %}

{% endblock sidebar_content %}
