{% comment %}
NOTE: The next/prev in diary/entry_archive_month.html is done separately
because its URLs are more manual.
{% endcomment %}

{% if previous or next %}
	<aside class="aside-block">
		{% if previous %}
			<p><a href="{{ previous.get_absolute_url }}"><span class="glyphicon glyphicon-arrow-left"></span> {{ previous.title }}</a></p>
		{% endif %}

		{% if next %}
			<p class="text-right"><a href="{{ next.get_absolute_url }}">{{ next.title }} <span class="glyphicon glyphicon-arrow-right"></span></a></p>
		{% endif %}
	</aside>
{% endif %}


