{% comment %}
NOTE: The next/prev in diary/entry_archive_month.html is done separately
because its URLs are more manual.

Expects:
* next -- An object.
* previous -- An object.
* name -- A string like 'letter' or 'entry'. (optional)
{% endcomment %}

{% if previous or next %}
	<hr class="decoration decoration-small"/>

	<nav class="nextprev">
		<ul class="list-unstyled">
			{% if previous %}
				<li class="nextprev-prev">
					<a href="{{ previous.get_absolute_url }}" title="Earlier {{ name|default:"item" }}">{{ previous.short_title }}</a>
				</li>
			{% endif %}

			{% if next %}
				<li class="nextprev-next">
					<a href="{{ next.get_absolute_url }}" title="Later {{ name|default:"item" }}">{{ next.short_title }}</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
