{% comment %}
NOTE: The next/prev in diary/entry_archive_month.html is done separately
because its URLs are more manual.
{% endcomment %}

{% if previous or next %}
	<div class="sidebar-block">
		{% if previous %}
			<p><a href="{{ previous.get_absolute_url }}"><i class="icon-arrow-left icon-link"></i> {{ previous.title }}</a></p>
		{% endif %}

		{% if next %}
			<p class="text-right"><a href="{{ next.get_absolute_url }}">{{ next.title }} <i class="icon-arrow-right icon-link"></i></a></p>
		{% endif %}
	</div>
{% endif %}


