{% extends "rest_framework_swagger/index.html" %}


{% block extra_styles %}
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Crimson+Text:400,400italic);


    .swagger-section #header {
      height: 2.8em;
      background-color: #164e08;
      background-image: url("/static/common/img/backgrounds/site-header.png");
      background-position: 0 0;
      background-repeat: repeat;
      border-top: 1px solid #325831;
      border-bottom: 1px solid #325831;
    }

    .logo,
    .logo__title {
      font-family: "Crimson Text", "Times New Roman", Times, serif;
      font-size: 40px;
      text-rendering: optimizeLegibility;
      color: #ebebe5;
      font-weight: normal;
    }

    .swagger-section a.header__btn,
    .swagger-section #auth_container .authorize__btn {
      background-color: #002801;
    }
  </style>
{% endblock extra_styles %}

{% block logo %}
  <span id="logo"><span class="logo__title">The Diary of Samuel Pepys: API</span></span>
{% endblock logo %}


{% block extra_scripts %}
  <!-- Google Analytics JS -->
  <script>
      var _gaq=[['_setAccount','UA-89135-2'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <!-- End Google Analytics JS -->
{% endblock %}
