{% comment %}
A list of Letters.

Expects:
letter_list -- The Letters.
show_intro -- Show the intro. Default: True
{% endcomment %}

{% if show_intro|default_if_none:True %}
  <p class="text-muted">Numbers in brackets indicate quantity of annotations.</p>
{% endif %}

<ul class="list-ruled list-unstyled">

  {% for letter in letter_list %}
    {% ifchanged letter.letter_date|date:'Y' %}
      {% if forloop.counter != 1 %}
        </ul>
      {% endif %}
      <h2 id="y-{{ letter.letter_date|date:'Y' }}">{{ letter.letter_date|date:'Y' }}</h2>
      <ul class="list-ruled list-unstyled">
    {% endifchanged %}

    <li>
      <a href="{{ letter.get_absolute_url }}"><strong>{{ letter.full_title }}</strong></a> <small>({{ letter.comment_count }})</small><br />
      {{ letter.excerpt }}…
    </li>
  {% endfor %}

</ul>
