{% comment %}
For the sidebar in Site News.
We expect:
	categories (from Post.Category.choices)
And maybe:
	category_slug (the current category)
{% endcomment %}

<aside class="aside-block">
	<div class="list-group">
		<a class="list-group-item{% if not category_slug %} active{% endif %}" href="{% url 'news' %}">Latest Site News posts</a>

		{% for slug, name in categories %}
			<a class="list-group-item{% if slug == category_slug %} active{% endif %}" href="{% url 'post_category_archive' category_slug=slug %}">{{ name }}</a>
		{% endfor %}
	</div>
</aside>
