{% comment %}
For the sidebar in Site News.
We expect:
	categories (from Post.CATEGORY_CHOICES)
And maybe:
	category_slug (the current category)
{% endcomment %}

<aside class="aside-block">
	<ul class="nav nav-pills nav-stacked">
		<li{% if not category_slug %} class="active"{% endif %}><a href="{% url 'news' %}">All Site News posts</a></li>

		{% for slug, name in categories %}
			<li{% if slug == category_slug %} class="active"{% endif %}><a href="{% url 'post_category_archive' category_slug=slug %}">{{ name }}</a></li>
		{% endfor %}
	</ul>
</aside>
