<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error (The Diary of Samuel Pepys)</title>

    <!-- inject:css -->
	<link rel="stylesheet" href="/static/common/css/site-8cbbb9961f.css">
	<!-- endinject -->

    <link rel="apple-touch-icon" sizes="57x57" href="/static/common/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/common/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/common/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/common/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/common/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/common/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/common/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/common/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/common/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/common/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/common/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/common/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/common/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/common/img/favicons/manifest.json">
    <link rel="shortcut icon" href="/static/common/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="/static/common/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/common/img/favicons/browserconfig.xml">

    <link rel="alternate" type="application/rss+xml" title="Diary entries" href="http://feeds.feedburner.com/PepysDiary">
    <link rel="alternate" type="application/rss+xml" title="Encyclopedia topics" href="http://feeds.feedburner.com/PepysDiary-Encyclopedia">
    <link rel="alternate" type="application/rss+xml" title="In-Depth articles" href="http://feeds.feedburner.com/PepysDiary-InDepthArticles">
    <link rel="alternate" type="application/rss+xml" title="Site News posts" href="http://feeds.feedburner.com/PepysDiary-SiteNews">


    <meta property="og:site_name" content="The Diary of Samuel Pepys">
    <meta property="og:locale" content="en_GB">
    <meta property="article:author" content="https://www.facebook.com/pepysdiary">



</head>
<body>
	<a class="sr-only" href="#content">Skip to main content</a>

	<header class="site-header">
		<div class="container">

				<h1 class="site-header-title"><a href="/" title="To the front page">The Diary of Samuel Pepys</a></h1>

			<p class="site-header-subtitle">Daily entries from the 17th century London diary</p>
		</div>
	</header> <!-- .site-header -->

	<nav class="navbar navbar-inverse navbar-mainnav" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav-collapse">
					Menu
				</button>
			</div> <!-- .navbar-header -->
			<div class="collapse navbar-collapse" id="site-nav-collapse">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="/"><span class="inner">The Diary</span></a>
					</li>
					<li>
						<a href="/letters/"><span class="inner">Letters</span></a>
					</li>
					<li class="">
						<a href="/encyclopedia/"><span class="inner">Encyclopedia</span></a>
					</li>
					<li class="">
						<a href="/indepth/"><span class="inner">In-depth Articles</span></a>
					</li>
					<li class="">
						<a href="/news/"><span class="inner">Site News</span></a>
					</li>
					<li class="">
						<a href="/recent/"><span class="inner">Recent Activity</span></a>
					</li>
					<li class="">
						<a href="/about/"><span class="inner">About</span></a>
					</li>
				</ul> <!-- .nav.navbar-nav -->
			</div> <!-- .navbar-collapse -->
		</div> <!-- .container -->
    </nav> <!-- .navbar -->





	<nav class="navbar navbar-inverse navbar-supernav" role="navigation">
		<div class="container">

			<form class="navbar-form navbar-right" role="search" method="get" action="/search/">
				<div class="form-group">
					<label for="search-input" class="sr-only">Search</label>
					<input type="search" name="q" id="search-input" class="form-control input-sm" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Go</button>
			</form>
        </div>
	</nav> <!-- .navbar-supernav -->

	<div class="container" id="content">




		<main role="main">

				<header class="page-header">
					<h1>Something went wrong</h1>
				</header>


				<div class="row">

						<div class="col-sm-8">

							<p class="lead">Sorry, something technical went wrong.</p>

							<p>We've been notified of the error.</p>

							<p>We’ll do our best to get this working again soon.</p>

						</div> <!-- .col-sm-8 -->


				</div> <!-- .row -->

		</main>

	</div> <!-- #content.container -->


		<footer class="site-footer">
			<hr class="decoration decoration-big">
		</footer>



    <!-- inject:js -->
    <script src="/static/common/js/site-95845f26b7.min.js"></script>
    <!-- endinject -->

	<script>
		$(document).ready(function(){
			pepys.controller.init({

				'config': {
					static_prefix: '/static/common/'
				}
			});


		});
	</script>


</body>
</html>
