/*
Syntax error: File to import not found or unreadable: bootstrap_custom.
              Load paths:
                /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass
                /Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 6 of /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/_base.scss
        from line 1 of /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/pepysdiary.scss

1: /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/pepysdiary.scss

Backtrace:
/Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/_base.scss:6
/Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/pepysdiary.scss:1
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/import_node.rb:45:in `import'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `load'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `<main>'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `eval'
/Users/phil/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap_custom.\A               Load paths:\A                 /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass\A                 /Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/phil/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 6 of /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/_base.scss\A         from line 1 of /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/pepysdiary.scss\A \A 1: /Users/phil/Projects/personal/django-pepysdiary/pepysdiary/common/static/sass/pepysdiary.scss"; }
