<div id="{{ comment_name }}s" class="comments">
  {% for comment in comment_list %}
    <div id="c{{ comment.id }}" class="media">
    	<div class="media-body">
        	<h4 class="media-heading"><span class="comment-name">{% if comment.url %}<a href="{{ comment.url }}" rel="nofollow">{{ comment.name }}</a>{% else %}{{ comment.name }}{% endif %}</span> on {{ comment.submit_date|date:date_format_mid }}, <a href="#c{{comment.id}}">{{ comment.submit_date|date:time_format }}</a></h4>
	        <p>{{ comment.comment|urlizetrunc:50|linebreaks }}</p>
	    </div>
	</div>
  {% endfor %}
</div>


{% if config and config.allow_comments %}
	{% if user.is_authenticated %}
		{% load comments %}
		{% render_comment_form for object %}
	{% else %}
		{% if config.allow_login %}

			<p><a href="#">Log in</a> to post {% if comment_name == 'annotation' %}an annotation{% else %}a comment{% endif %}.</p>

			{% if config.allow_registration %}
				<p>If you don't have an account, then <a href="#">register here</a>.</p>
			{% endif %}
		{% else %}
			<p class="text-warning">Sorry, it’s not possible to log in and post {{ comment_name }}s at the moment.</p>
		{% endif %}
	{% endif %}
{% else %}

	<p class="text-warning">Sorry, it’s not possible to post {{ comment_name }}s at the moment.</p>

{% endif %}