{% extends "flatpages/base.html" %}

{% block diary_nav_active %}active{% endblock %}
{% block diary_1893_nav_active %}active{% endblock %}


{% block before_flatpage_content %}
	<p class="text-muted">The text below is taken from the 1893 edition of the diary, from which the diary entries on this site are also taken. <a href="{% url 'about_text' %}">Read more about this text.</a></p>

	{% if flatpage.url == '/diary/1893-introduction/pepys/' %}
		<p class="text-muted">There is also <a href="/diary/summary/">a more modern and brief summary</a> of Pepys and his world.</p>
	{% endif %}

	<hr class="decoration decoration-small" />

	<article class="manuscript manuscript-large">
{% endblock %}

{% block after_flatpage_content %}
	</article> <!-- .manuscript -->
{% endblock %}


{% block sidebar_content %}
	{% load widget_tags %}

	<aside class="aside-block">
		<div class="list-group">
			<a class="list-group-item{% if flatpage.url == '/diary/1893-introduction/' %} active{% endif %}" href="{% url '1893_introduction' %}">Cover text</a>
			<a class="list-group-item{% if flatpage.url == '/diary/1893-introduction/preface/' %} active{% endif %}" href="{% url '1893_introduction_preface' %}">Preface</a>
			<a class="list-group-item{% if flatpage.url == '/diary/1893-introduction/previous/' %} active{% endif %}" href="{% url '1893_introduction_previous' %}">Previous editions of the diary</a>
			<a class="list-group-item{% if flatpage.url == '/diary/1893-introduction/pepys/' %} active{% endif %}" href="{% url '1893_introduction_pepys' %}">Particulars of the life of Samuel Pepys</a>
		</div>
	</aside>
{% endblock sidebar_content %}
