{% extends "flatpages/base.html" %}

{% block diary_nav_active %}active{% endblock %}
{% block diary_1893_nav_active %}active{% endblock %}


{% block before_flatpage_content %}
	<p class="text-muted">The text below is taken from the 1893 edition of the diary, from which the diary entries on this site are also taken.</p>

	<article class="manuscript">
{% endblock %}

{% block after_flatpage_content %}
	</article> <!-- .well.well-manuscript -->
{% endblock %}


{% block sidebar_content %}
	{% load widget_tags %}

	<aside class="aside-block">
		<h1>Sections from the 1893 introduction</h1>

		<ul class="nav nav-pills nav-stacked">
			<li{% if flatpage.url == '/diary/1893-introduction/' %} class="active"{% endif %}><a href="{% url '1893_introduction' %}">Cover text</a></li>
			<li{% if flatpage.url == '/diary/1893-introduction/preface/' %} class="active"{% endif %}><a href="{% url '1893_introduction_preface' %}">Preface</a></li>
			<li{% if flatpage.url == '/diary/1893-introduction/previous/' %} class="active"{% endif %}><a href="{% url '1893_introduction_previous' %}">Previous editions of the diary</a></li>
			<li{% if flatpage.url == '/diary/1893-introduction/pepys/' %} class="active"{% endif %}><a href="{% url '1893_introduction_pepys' %}">Particulars of the life of Samuel Pepys</a></li>
		</ul>
	</aside>


	<aside class="aside-block">
		<p><a href="{% url 'about_text' %}">Read more about the text</a></p>
	</aside>
{% endblock sidebar_content %}
