{% extends "flatpages/base_full_width.html" %}

{% block encyclopedia_nav_active %}active{% endblock %}

{% block after_flatpage_content %}

<p><strong>This family tree is also available in two PDF versions:</strong></p>

<ul>
	<li><a href="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree_printable.pdf">Printable</a>, split into separate pages for printing out.</li>
	<li><a href="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree_clickable.pdf">Clickable</a>, a single wide page, with clickable names, suitable for viewing on screen.</li>
</ul>

<p id="familytree">
<map name="GraffleExport">
<area shape=rect coords="46,674,335,688" href="http://www.stirnet.com/genie/data/british/mm4fz/montagu01.php">
<area shape=rect coords="3971,310,4035,326" href="http://www.pepysdiary.com/encyclopedia/5516/">
<area shape=rect coords="3981,276,4023,290" href="http://www.pepysdiary.com/encyclopedia/569/">
<area shape=rect coords="3860,276,3896,297" href="http://www.pepysdiary.com/encyclopedia/2226/">
<area shape=rect coords="3694,361,3751,389" href="http://www.pepysdiary.com/encyclopedia/850/">
<area shape=rect coords="3616,384,3659,406" href="http://www.pepysdiary.com/encyclopedia/5180/">
<area shape=rect coords="3563,361,3612,389" href="http://www.pepysdiary.com/encyclopedia/3735/">
<area shape=rect coords="3513,361,3556,382" href="http://www.pepysdiary.com/encyclopedia/670/">
<area shape=rect coords="3379,318,3442,333" href="http://www.pepysdiary.com/encyclopedia/3690/">
<area shape=rect coords="3382,276,3439,290" href="http://www.pepysdiary.com/encyclopedia/563/">
<area shape=rect coords="3531,276,3588,304" href="http://www.pepysdiary.com/encyclopedia/972/">
<area shape=rect coords="3693,276,3750,304" href="http://www.pepysdiary.com/encyclopedia/671/">
<area shape=rect coords="3510,0,3591,14" href="http://www.pepysdiary.com/encyclopedia/8989/">
<area shape=rect coords="3559,85,3616,120" href="http://www.pepysdiary.com/encyclopedia/8988/">
<area shape=rect coords="4027,163,4084,191" href="http://www.pepysdiary.com/encyclopedia/12615/">
<area shape=rect coords="3283,163,3347,198" href="http://www.pepysdiary.com/encyclopedia/8990/">
<area shape=rect coords="2291,404,2340,418" href="http://www.pepysdiary.com/encyclopedia/507/">
<area shape=rect coords="2227,404,2291,418" href="http://www.pepysdiary.com/encyclopedia/507/">
<area shape=rect coords="2886,404,2943,425" href="http://www.pepysdiary.com/encyclopedia/11084/">
<area shape=rect coords="1192,467,1235,481" href="http://www.pepysdiary.com/encyclopedia/13648/">
<area shape=rect coords="1200,402,1272,424" href="http://www.pepysdiary.com/encyclopedia/11931/">
<area shape=rect coords="2535,394,2592,409" href="http://www.pepysdiary.com/encyclopedia/507/">
<area shape=rect coords="2387,297,2443,340" href="http://www.pepysdiary.com/encyclopedia/13169/">
<area shape=rect coords="2709,361,2751,375" href="http://www.pepysdiary.com/encyclopedia/13006/">
<area shape=rect coords="2666,361,2709,375" href="http://www.pepysdiary.com/encyclopedia/12989/">
<area shape=rect coords="2483,276,2526,311" href="http://www.pepysdiary.com/encyclopedia/7231/">
<area shape=rect coords="2527,276,2598,311" href="http://www.pepysdiary.com/encyclopedia/612/">
<area shape=rect coords="1528,361,1599,382" href="http://www.pepysdiary.com/encyclopedia/1107/">
<area shape=rect coords="1495,361,1531,375" href="http://www.pepysdiary.com/encyclopedia/1105/">
<area shape=rect coords="1416,361,1480,382" href="http://www.pepysdiary.com/encyclopedia/1090/">
<area shape=rect coords="1384,361,1419,375" href="http://www.pepysdiary.com/encyclopedia/1749/">
<area shape=rect coords="1603,276,1667,304" href="http://www.pepysdiary.com/encyclopedia/7436/">
<area shape=rect coords="1520,276,1584,297" href="http://www.pepysdiary.com/encyclopedia/3736/">
<area shape=rect coords="1428,276,1499,297" href="http://www.pepysdiary.com/encyclopedia/749/">
<area shape=rect coords="1360,276,1410,297" href="http://www.pepysdiary.com/encyclopedia/750/">
<area shape=rect coords="1855,276,1905,290" href="http://www.pepysdiary.com/encyclopedia/5265/">
<area shape=rect coords="1816,361,1858,383" href="http://www.pepysdiary.com/encyclopedia/1568/">
<area shape=rect coords="1953,361,1989,375" href="http://www.pepysdiary.com/encyclopedia/6764/">
<area shape=rect coords="1880,394,1951,415" href="http://www.pepysdiary.com/encyclopedia/7392/">
<area shape=rect coords="1890,361,1939,375" href="http://www.pepysdiary.com/encyclopedia/6763/">
<area shape=rect coords="1943,276,2021,290" href="http://www.pepysdiary.com/encyclopedia/2724/">
<area shape=rect coords="1908,276,1943,290" href="http://www.pepysdiary.com/encyclopedia/2725/">
<area shape=rect coords="1312,362,1345,375" href="http://www.pepysdiary.com/encyclopedia/3002/">
<area shape=rect coords="1308,310,1350,332" href="http://www.pepysdiary.com/encyclopedia/3003/">
<area shape=rect coords="1308,277,1350,298" href="http://www.pepysdiary.com/encyclopedia/6232/">
<area shape=rect coords="1242,276,1277,290" href="http://www.pepysdiary.com/encyclopedia/6232/">
<area shape=rect coords="1136,276,1178,290" href="http://www.pepysdiary.com/encyclopedia/3065/">
<area shape=rect coords="774,361,824,375" href="http://www.pepysdiary.com/encyclopedia/2812/">
<area shape=rect coords="703,361,739,375" href="http://www.pepysdiary.com/encyclopedia/2812/">
<area shape=rect coords="831,361,866,375" href="http://www.pepysdiary.com/encyclopedia/2651/">
<area shape=rect coords="675,361,710,375" href="http://www.pepysdiary.com/encyclopedia/2812/">
<area shape=rect coords="735,361,771,375" href="http://www.pepysdiary.com/encyclopedia/2591/">
<area shape=rect coords="59,700,236,714" href="http://www.pepysdiary.com/encyclopedia/7390/">
<area shape=rect coords="757,473,849,487" href="http://www.pepysdiary.com/encyclopedia/13845/">
<area shape=rect coords="791,612,855,626" href="http://www.pepysdiary.com/encyclopedia/5735/">
<area shape=rect coords="774,574,873,595" href="http://www.pepysdiary.com/encyclopedia/631/">
<area shape=rect coords="760,517,845,538" href="http://www.pepysdiary.com/encyclopedia/1066/">
<area shape=rect coords="873,517,973,538" href="http://www.pepysdiary.com/encyclopedia/1067/">
<area shape=rect coords="374,393,445,415" href="http://www.pepysdiary.com/encyclopedia/951/">
<area shape=rect coords="384,361,434,382" href="http://www.pepysdiary.com/encyclopedia/1761/">
<area shape=rect coords="296,381,381,395" href="http://www.pepysdiary.com/encyclopedia/1858/">
<area shape=rect coords="314,360,363,375" href="http://www.pepysdiary.com/encyclopedia/119/">
<area shape=rect coords="271,361,314,375" href="http://www.pepysdiary.com/encyclopedia/3286/">
<area shape=rect coords="229,361,271,375" href="http://www.pepysdiary.com/encyclopedia/1342/">
<area shape=rect coords="190,467,233,481" href="http://www.pepysdiary.com/encyclopedia/4213/">
<area shape=rect coords="233,467,282,489" href="http://www.pepysdiary.com/encyclopedia/8086/">
<area shape=rect coords="134,467,191,496" href="http://www.pepysdiary.com/encyclopedia/120/">
<area shape=rect coords="92,467,134,481" href="http://www.pepysdiary.com/encyclopedia/4212/">
<area shape=rect coords="158,401,215,422" href="http://www.pepysdiary.com/encyclopedia/1858/">
<area shape=rect coords="166,361,208,383" href="http://www.pepysdiary.com/encyclopedia/121/">
<area shape=rect coords="10,389,88,400" href="http://www.pepysdiary.com/encyclopedia/2531/">
<area shape=rect coords="27,361,70,382" href="http://www.pepysdiary.com/encyclopedia/342/">
<area shape=rect coords="95,361,151,375" href="http://www.pepysdiary.com/encyclopedia/7192/">
<area shape=rect coords="83,276,161,297" href="http://www.pepysdiary.com/encyclopedia/2807/">
<area shape=rect coords="2981,361,3031,383" href="http://www.pepysdiary.com/encyclopedia/1507/">
<area shape=rect coords="2290,360,2340,382" href="%22http://www.pepysdiary.com/encyclopedia/13282/">
<area shape=rect coords="2236,360,2278,382" href="http://www.pepysdiary.com/encyclopedia/13281/">
<area shape=rect coords="2106,276,2170,297" href="http://www.pepysdiary.com/encyclopedia/247/">
<area shape=rect coords="2184,360,2227,382" href="http://www.pepysdiary.com/encyclopedia/2803/">
<area shape=rect coords="2631,361,2666,375" href="http://www.pepysdiary.com/encyclopedia/676/">
<area shape=rect coords="2588,361,2631,375" href="http://www.pepysdiary.com/encyclopedia/11061/">
<area shape=rect coords="3226,361,3262,383" href="http://www.pepysdiary.com/encyclopedia/7721/">
<area shape=rect coords="3177,361,3226,383" href="http://www.pepysdiary.com/encyclopedia/2998/">
<area shape=rect coords="3099,361,3134,383" href="http://www.pepysdiary.com/encyclopedia/2931/">
<area shape=rect coords="3063,361,3099,383" href="http://www.pepysdiary.com/encyclopedia/2930/">
<area shape=rect coords="3028,361,3063,383" href="http://www.pepysdiary.com/encyclopedia/3000/">
<area shape=rect coords="2936,361,2985,383" href="http://www.pepysdiary.com/encyclopedia/2848/">
<area shape=rect coords="2893,361,2936,382" href="http://www.pepysdiary.com/encyclopedia/113/">
<area shape=rect coords="2815,412,2886,434" href="http://www.pepysdiary.com/encyclopedia/8250/">
<area shape=rect coords="2822,361,2879,389" href="http://www.pepysdiary.com/encyclopedia/114/">
<area shape=rect coords="2539,361,2588,382" href="http://www.pepysdiary.com/encyclopedia/7294/">
<area shape=rect coords="2603,276,2654,307" href="http://www.pepysdiary.com/encyclopedia/1593/">
<area shape=rect coords="2681,275,2730,297" href="http://www.pepysdiary.com/encyclopedia/915/">
<area shape=rect coords="3007,321,3070,342" href="http://www.pepysdiary.com/encyclopedia/115/">
<area shape=rect coords="2999,275,3077,296" href="http://www.pepysdiary.com/encyclopedia/112/">
<area shape=rect coords="2043,163,2128,184" href="http://www.pepysdiary.com/encyclopedia/2802/">
<area shape=rect coords="2893,163,2943,191" href="http://www.pepysdiary.com/encyclopedia/1558/">
<area shape=rect coords="1517,113,1565,134" href="http://www.pepysdiary.com/encyclopedia/5137/">
<area shape=rect coords="519,389,611,404" href="http://www.pepysdiary.com/encyclopedia/6750/">
<area shape=rect coords="544,360,586,374" href="http://www.pepysdiary.com/encyclopedia/2934/">
<area shape=rect coords="459,401,516,415" href="http://www.pepysdiary.com/encyclopedia/8544/">
<area shape=rect coords="454,360,521,382" href="http://www.pepysdiary.com/encyclopedia/2933/">
<area shape=rect coords="604,402,682,416" href="http://www.pepysdiary.com/encyclopedia/8544/">
<area shape=rect coords="615,360,672,382" href="http://www.pepysdiary.com/encyclopedia/116/">
<area shape=rect coords="538,276,592,297" href="http://www.pepysdiary.com/encyclopedia/2542/">
<area shape=rect coords="476,317,518,338" href="http://www.pepysdiary.com/encyclopedia/1709/">
<area shape=rect coords="477,276,519,297" href="http://www.pepysdiary.com/encyclopedia/884/">
<area shape=rect coords="895,276,944,297" href="http://www.pepysdiary.com/encyclopedia/1104/">
<area shape=rect coords="823,276,873,297" href="http://www.pepysdiary.com/encyclopedia/2542/">
<area shape=rect coords="714,276,763,297" href="http://www.pepysdiary.com/encyclopedia/6215/">
<area shape=rect coords="1788,276,1844,304" href="http://www.pepysdiary.com/encyclopedia/995/">
<area shape=rect coords="1715,276,1779,297" href="http://www.pepysdiary.com/encyclopedia/911/">
<area shape=rect coords="1257,361,1299,383" href="http://www.pepysdiary.com/encyclopedia/117/">
<area shape=rect coords="1214,361,1257,383" href="http://www.pepysdiary.com/encyclopedia/1568/">
<area shape=rect coords="1040,361,1082,383" href="http://www.pepysdiary.com/encyclopedia/236/">
<area shape=rect coords="888,575,987,596" href="http://www.pepysdiary.com/encyclopedia/150/">
<area shape=rect coords="1001,574,1072,595" href="http://www.pepysdiary.com/encyclopedia/29/">
<area shape=rect coords="958,276,1012,297" href="http://www.pepysdiary.com/encyclopedia/154/">
<area shape=rect coords="1015,276,1079,297" href="http://www.pepysdiary.com/encyclopedia/282/">
</map>
<img class="force-fullwidth" width="4163" height="723" alt="The Pepys Family Tree" src="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree.png" usemap="#GraffleExport" />
</p>

{% endblock after_flatpage_content %}
