{% extends "flatpages/base_full_width.html" %}

{% block encyclopedia_nav_active %}active{% endblock %}

{% block after_flatpage_content %}

<p><strong>This family tree is also available in two PDF versions:</strong></p>

<ul>
	<li><a href="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree_printable.pdf">Printable</a>, split into separate pages for printing out.</li>
	<li><a href="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree_clickable.pdf">Clickable</a>, a single wide page, with clickable names, suitable for viewing on screen.</li>
</ul>

<p id="familytree">
<map name="GraffleExport">
	<area shape=rect coords="496,360,538,375" href="http://www.pepysdiary.com/encyclopedia/2784/">
	<area shape=rect coords="453,360,496,382" href="http://www.pepysdiary.com/encyclopedia/2813/">
	<area shape=rect coords="46,674,335,688" href="http://www.stirnet.com/genie/data/british/mm4fz/montagu01.php">
	<area shape=rect coords="3978,310,4042,326" href="http://www.pepysdiary.com/encyclopedia/5516/">
	<area shape=rect coords="3988,276,4031,290" href="http://www.pepysdiary.com/encyclopedia/569/">
	<area shape=rect coords="3868,276,3903,297" href="http://www.pepysdiary.com/encyclopedia/2226/">
	<area shape=rect coords="3701,361,3758,389" href="http://www.pepysdiary.com/encyclopedia/850/">
	<area shape=rect coords="3623,384,3666,406" href="http://www.pepysdiary.com/encyclopedia/5180/">
	<area shape=rect coords="3570,361,3620,389" href="http://www.pepysdiary.com/encyclopedia/3735/">
	<area shape=rect coords="3520,361,3563,382" href="http://www.pepysdiary.com/encyclopedia/670/">
	<area shape=rect coords="3386,318,3449,333" href="http://www.pepysdiary.com/encyclopedia/3690/">
	<area shape=rect coords="3389,276,3446,290" href="http://www.pepysdiary.com/encyclopedia/563/">
	<area shape=rect coords="3538,276,3595,304" href="http://www.pepysdiary.com/encyclopedia/972/">
	<area shape=rect coords="3700,276,3757,304" href="http://www.pepysdiary.com/encyclopedia/671/">
	<area shape=rect coords="3517,0,3598,14" href="http://www.pepysdiary.com/encyclopedia/8989/">
	<area shape=rect coords="3566,85,3623,120" href="http://www.pepysdiary.com/encyclopedia/8988/">
	<area shape=rect coords="4034,163,4091,191" href="http://www.pepysdiary.com/encyclopedia/12615/">
	<area shape=rect coords="3290,163,3354,198" href="http://www.pepysdiary.com/encyclopedia/8990/">
	<area shape=rect coords="2404,404,2454,418" href="http://www.pepysdiary.com/p/507.php">
	<area shape=rect coords="2340,404,2404,418" href="http://www.pepysdiary.com/p/507.php">
	<area shape=rect coords="2904,404,2960,425" href="http://www.pepysdiary.com/encyclopedia/11084/">
	<area shape=rect coords="1334,467,1377,481" href="http://www.pepysdiary.com/encyclopedia/13648/">
	<area shape=rect coords="1342,402,1413,424" href="http://www.pepysdiary.com/encyclopedia/11931/">
	<area shape=rect coords="2590,394,2647,409" href="http://www.pepysdiary.com/encyclopedia/507/">
	<area shape=rect coords="2507,297,2564,340" href="http://www.pepysdiary.com/encyclopedia/13169/">
	<area shape=rect coords="2743,361,2785,375" href="http://www.pepysdiary.com/encyclopedia/13006/">
	<area shape=rect coords="2707,361,2750,375" href="http://www.pepysdiary.com/encyclopedia/12989/">
	<area shape=rect coords="2576,276,2618,311" href="http://www.pepysdiary.com/encyclopedia/7231/">
	<area shape=rect coords="2619,276,2690,311" href="http://www.pepysdiary.com/encyclopedia/612/">
	<area shape=rect coords="1684,361,1755,382" href="http://www.pepysdiary.com/encyclopedia/1107/">
	<area shape=rect coords="1651,361,1687,375" href="http://www.pepysdiary.com/encyclopedia/1105/">
	<area shape=rect coords="1572,361,1636,382" href="http://www.pepysdiary.com/encyclopedia/1090/">
	<area shape=rect coords="1540,361,1575,375" href="http://www.pepysdiary.com/encyclopedia/1749/">
	<area shape=rect coords="1752,276,1816,304" href="http://www.pepysdiary.com/encyclopedia/7436/">
	<area shape=rect coords="1676,276,1740,297" href="http://www.pepysdiary.com/encyclopedia/3736/">
	<area shape=rect coords="1584,276,1655,297" href="http://www.pepysdiary.com/encyclopedia/749/">
	<area shape=rect coords="1516,276,1566,297" href="http://www.pepysdiary.com/encyclopedia/750/">
	<area shape=rect coords="1997,276,2046,290" href="http://www.pepysdiary.com/encyclopedia/5265/">
	<area shape=rect coords="1958,361,2000,383" href="http://www.pepysdiary.com/encyclopedia/1568/">
	<area shape=rect coords="2102,361,2138,375" href="http://www.pepysdiary.com/encyclopedia/6764/">
	<area shape=rect coords="2029,394,2099,415" href="http://www.pepysdiary.com/encyclopedia/7392/">
	<area shape=rect coords="2038,361,2088,375" href="http://www.pepysdiary.com/encyclopedia/6763/">
	<area shape=rect coords="2092,276,2170,290" href="http://www.pepysdiary.com/encyclopedia/2724/">
	<area shape=rect coords="2057,276,2092,290" href="http://www.pepysdiary.com/encyclopedia/2725/">
	<area shape=rect coords="1461,362,1495,375" href="http://www.pepysdiary.com/encyclopedia/3002/">
	<area shape=rect coords="1457,310,1499,332" href="http://www.pepysdiary.com/encyclopedia/3003/">
	<area shape=rect coords="1457,277,1499,298" href="http://www.pepysdiary.com/p/6232.php">
	<area shape=rect coords="1416,276,1451,290" href="http://www.pepysdiary.com/encyclopedia/6232/">
	<area shape=rect coords="1308,276,1350,290" href="http://www.pepysdiary.com/encyclopedia/3065/">
	<area shape=rect coords="888,361,937,375" href="http://www.pepysdiary.com/p/2812.php">
	<area shape=rect coords="817,361,852,375" href="http://www.pepysdiary.com/p/2812.php">
	<area shape=rect coords="951,361,987,375" href="http://www.pepysdiary.com/encyclopedia/2651/">
	<area shape=rect coords="788,361,824,375" href="http://www.pepysdiary.com/encyclopedia/2812/">
	<area shape=rect coords="849,361,884,375" href="http://www.pepysdiary.com/encyclopedia/2591/">
	<area shape=rect coords="59,700,271,714" href="http://www.pepysdiary.com/encyclopedia/7390/">
	<area shape=rect coords="735,473,828,487" href="http://www.pepysdiary.com/encyclopedia/13845/">
	<area shape=rect coords="770,612,834,626" href="http://www.pepysdiary.com/encyclopedia/5735/">
	<area shape=rect coords="753,574,852,595" href="http://www.pepysdiary.com/encyclopedia/631/">
	<area shape=rect coords="739,517,824,538" href="http://www.pepysdiary.com/encyclopedia/1066/">
	<area shape=rect coords="852,517,951,538" href="http://www.pepysdiary.com/encyclopedia/1067/">
	<area shape=rect coords="374,393,445,415" href="http://www.pepysdiary.com/encyclopedia/951/">
	<area shape=rect coords="384,361,434,382" href="http://www.pepysdiary.com/encyclopedia/1761/">
	<area shape=rect coords="296,381,381,395" href="http://www.pepysdiary.com/encyclopedia/1858/">
	<area shape=rect coords="314,360,363,375" href="http://www.pepysdiary.com/encyclopedia/119/">
	<area shape=rect coords="271,361,314,375" href="http://www.pepysdiary.com/encyclopedia/3286/">
	<area shape=rect coords="229,361,271,375" href="http://www.pepysdiary.com/encyclopedia/1342/">
	<area shape=rect coords="190,467,233,481" href="http://www.pepysdiary.com/encyclopedia/4213/">
	<area shape=rect coords="233,467,282,489" href="http://www.pepysdiary.com/encyclopedia/8086/">
	<area shape=rect coords="134,467,191,496" href="http://www.pepysdiary.com/encyclopedia/120/">
	<area shape=rect coords="92,467,134,481" href="http://www.pepysdiary.com/encyclopedia/4212/">
	<area shape=rect coords="158,401,215,422" href="http://www.pepysdiary.com/encyclopedia/1858/">
	<area shape=rect coords="166,361,208,383" href="http://www.pepysdiary.com/encyclopedia/121/">
	<area shape=rect coords="10,389,88,400" href="http://www.pepysdiary.com/encyclopedia/2531/">
	<area shape=rect coords="27,361,70,382" href="http://www.pepysdiary.com/encyclopedia/342/">
	<area shape=rect coords="95,361,151,375" href="http://www.pepysdiary.com/encyclopedia/7192/">
	<area shape=rect coords="83,276,161,297" href="http://www.pepysdiary.com/encyclopedia/2807/">
	<area shape=rect coords="2999,361,3048,383" href="http://www.pepysdiary.com/encyclopedia/1507/">
	<area shape=rect coords="2403,360,2453,382" href="%22http://www.pepysdiary.com/encyclopedia/13282/">
	<area shape=rect coords="2349,360,2392,382" href="http://www.pepysdiary.com/encyclopedia/13281/">
	<area shape=rect coords="2262,276,2326,297" href="http://www.pepysdiary.com/encyclopedia/247/">
	<area shape=rect coords="2298,360,2340,382" href="http://www.pepysdiary.com/encyclopedia/2803/">
	<area shape=rect coords="2675,361,2711,375" href="http://www.pepysdiary.com/encyclopedia/676/">
	<area shape=rect coords="2640,361,2683,375" href="http://www.pepysdiary.com/encyclopedia/11061/">
	<area shape=rect coords="3244,361,3279,383" href="http://www.pepysdiary.com/encyclopedia/7721/">
	<area shape=rect coords="3194,361,3244,383" href="http://www.pepysdiary.com/encyclopedia/2998/">
	<area shape=rect coords="3116,361,3152,383" href="http://www.pepysdiary.com/encyclopedia/2931/">
	<area shape=rect coords="3081,361,3116,383" href="http://www.pepysdiary.com/encyclopedia/2930/">
	<area shape=rect coords="3045,361,3081,383" href="http://www.pepysdiary.com/encyclopedia/3000/">
	<area shape=rect coords="2953,361,3003,383" href="http://www.pepysdiary.com/encyclopedia/2848/">
	<area shape=rect coords="2911,361,2953,382" href="http://www.pepysdiary.com/encyclopedia/113/">
	<area shape=rect coords="2833,412,2904,434" href="http://www.pepysdiary.com/encyclopedia/8250/">
	<area shape=rect coords="2840,361,2897,389" href="http://www.pepysdiary.com/encyclopedia/114/">
	<area shape=rect coords="2594,361,2644,382" href="http://www.pepysdiary.com/encyclopedia/7294/">
	<area shape=rect coords="2695,276,2746,307" href="http://www.pepysdiary.com/encyclopedia/1593/">
	<area shape=rect coords="2768,275,2818,297" href="http://www.pepysdiary.com/encyclopedia/915/">
	<area shape=rect coords="3024,321,3088,342" href="http://www.pepysdiary.com/encyclopedia/115/">
	<area shape=rect coords="3016,275,3094,296" href="http://www.pepysdiary.com/encyclopedia/112/">
	<area shape=rect coords="2199,163,2284,184" href="http://www.pepysdiary.com/encyclopedia/2802/">
	<area shape=rect coords="2943,163,2992,191" href="http://www.pepysdiary.com/encyclopedia/1558/">
	<area shape=rect coords="1609,113,1657,134" href="http://www.pepysdiary.com/encyclopedia/5137/">
	<area shape=rect coords="625,389,718,404" href="http://www.pepysdiary.com/encyclopedia/6750/">
	<area shape=rect coords="650,360,693,374" href="http://www.pepysdiary.com/encyclopedia/2934/">
	<area shape=rect coords="565,401,622,415" href="http://www.pepysdiary.com/p/8544.php">
	<area shape=rect coords="560,360,627,382" href="http://www.pepysdiary.com/encyclopedia/2933/">
	<area shape=rect coords="710,402,788,416" href="http://www.pepysdiary.com/encyclopedia/8544/">
	<area shape=rect coords="721,360,778,382" href="http://www.pepysdiary.com/encyclopedia/116/">
	<area shape=rect coords="645,276,698,297" href="http://www.pepysdiary.com/encyclopedia/2542/">
	<area shape=rect coords="501,276,544,297" href="http://www.pepysdiary.com/encyclopedia/1709/">
	<area shape=rect coords="569,276,625,297" href="http://www.pepysdiary.com/encyclopedia/884/">
	<area shape=rect coords="1022,276,1072,297" href="http://www.pepysdiary.com/encyclopedia/1104/">
	<area shape=rect coords="943,276,993,297" href="http://www.pepysdiary.com/p/2542.php">
	<area shape=rect coords="827,276,877,297" href="http://www.pepysdiary.com/encyclopedia/6215/">
	<area shape=rect coords="1929,276,1986,304" href="http://www.pepysdiary.com/encyclopedia/995/">
	<area shape=rect coords="1857,276,1921,297" href="http://www.pepysdiary.com/encyclopedia/911/">
	<area shape=rect coords="1405,361,1447,382" href="http://www.pepysdiary.com/encyclopedia/117/">
	<area shape=rect coords="1356,361,1399,383" href="http://www.pepysdiary.com/encyclopedia/1568/">
	<area shape=rect coords="1182,361,1224,383" href="http://www.pepysdiary.com/encyclopedia/236/">
	<area shape=rect coords="866,575,966,596" href="http://www.pepysdiary.com/encyclopedia/150/">
	<area shape=rect coords="980,574,1051,595" href="http://www.pepysdiary.com/encyclopedia/29/">
	<area shape=rect coords="1121,276,1175,297" href="http://www.pepysdiary.com/encyclopedia/154/">
	<area shape=rect coords="1178,276,1242,297" href="http://www.pepysdiary.com/encyclopedia/282/">
</map>
<img class="force-fullwidth" width="4163" height="723" alt="The Pepys Family Tree" src="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree.png" usemap="#GraffleExport" />
</p>

{% endblock after_flatpage_content %}
