{% extends "flatpages/base_full_width.html" %}

{% block encyclopedia_nav_active %}active{% endblock %}

{% block after_flatpage_content %}

<p><strong>This family tree is also available in two PDF versions:</strong></p>

<ul>
	<li><a href="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree_printable.pdf">Printable</a>, split into separate pages for printing out.</li>
	<li><a href="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree_clickable.pdf">Clickable</a>, a single wide page, with clickable names, suitable for viewing on screen.</li>
</ul>

<p id="familytree">
<map name="GraffleExport">
	<area shape=rect coords="3778,276,3842,332" href="http://www.pepysdiary.com/encyclopedia/4111/">
	<area shape=rect coords="599,360,634,382" href="http://www.pepysdiary.com/encyclopedia/6367/">
	<area shape=rect coords="585,294,648,308" href="http://www.pepysdiary.com/encyclopedia/14062/">
	<area shape=rect coords="586,276,647,290" href="http://www.pepysdiary.com/encyclopedia/2804/">
	<area shape=rect coords="520,276,592,298" href="http://www.pepysdiary.com/encyclopedia/6918/">
	<area shape=rect coords="46,674,335,688" href="http://www.stirnet.com/genie/data/british/mm4fz/montagu01.php">
	<area shape=rect coords="4191,310,4254,326" href="http://www.pepysdiary.com/encyclopedia/5516/">
	<area shape=rect coords="4201,276,4243,290" href="http://www.pepysdiary.com/encyclopedia/569/">
	<area shape=rect coords="4080,276,4116,297" href="http://www.pepysdiary.com/encyclopedia/2226/">
	<area shape=rect coords="3914,361,3970,389" href="http://www.pepysdiary.com/encyclopedia/850/">
	<area shape=rect coords="3602,384,3644,406" href="http://www.pepysdiary.com/encyclopedia/5180/">
	<area shape=rect coords="3598,361,3648,375" href="http://www.pepysdiary.com/encyclopedia/3143/">
	<area shape=rect coords="3743,360,3793,389" href="http://www.pepysdiary.com/encyclopedia/3735/">
	<area shape=rect coords="3527,361,3570,382" href="http://www.pepysdiary.com/encyclopedia/670/">
	<area shape=rect coords="3499,318,3563,333" href="http://www.pepysdiary.com/encyclopedia/3690/">
	<area shape=rect coords="3503,276,3559,290" href="http://www.pepysdiary.com/encyclopedia/563/">
	<area shape=rect coords="3651,276,3708,304" href="http://www.pepysdiary.com/encyclopedia/972/">
	<area shape=rect coords="3913,276,3970,304" href="http://www.pepysdiary.com/encyclopedia/671/">
	<area shape=rect coords="3673,0,3754,14" href="http://www.pepysdiary.com/encyclopedia/8989/">
	<area shape=rect coords="3779,85,3836,120" href="http://www.pepysdiary.com/encyclopedia/8988/">
	<area shape=rect coords="4247,163,4303,191" href="http://www.pepysdiary.com/encyclopedia/12615/">
	<area shape=rect coords="3403,163,3467,198" href="http://www.pepysdiary.com/encyclopedia/8990/">
	<area shape=rect coords="2461,404,2510,418" href="http://www.pepysdiary.com/p/507.php">
	<area shape=rect coords="2397,404,2461,418" href="http://www.pepysdiary.com/p/507.php">
	<area shape=rect coords="3056,404,3113,425" href="http://www.pepysdiary.com/encyclopedia/11084/">
	<area shape=rect coords="1405,446,1447,460" href="http://www.pepysdiary.com/encyclopedia/13648/">
	<area shape=rect coords="1413,402,1484,424" href="http://www.pepysdiary.com/encyclopedia/11931/">
	<area shape=rect coords="2705,394,2762,409" href="http://www.pepysdiary.com/encyclopedia/507/">
	<area shape=rect coords="2557,297,2613,340" href="http://www.pepysdiary.com/encyclopedia/13169/">
	<area shape=rect coords="2879,361,2921,375" href="http://www.pepysdiary.com/encyclopedia/13006/">
	<area shape=rect coords="2836,361,2879,375" href="http://www.pepysdiary.com/encyclopedia/12989/">
	<area shape=rect coords="2654,276,2696,311" href="http://www.pepysdiary.com/encyclopedia/7231/">
	<area shape=rect coords="2697,276,2768,311" href="http://www.pepysdiary.com/encyclopedia/612/">
	<area shape=rect coords="1741,361,1812,382" href="http://www.pepysdiary.com/encyclopedia/1107/">
	<area shape=rect coords="1708,361,1743,375" href="http://www.pepysdiary.com/encyclopedia/1105/">
	<area shape=rect coords="1629,361,1693,382" href="http://www.pepysdiary.com/encyclopedia/1090/">
	<area shape=rect coords="1596,361,1632,375" href="http://www.pepysdiary.com/encyclopedia/1749/">
	<area shape=rect coords="1809,276,1872,304" href="http://www.pepysdiary.com/encyclopedia/7436/">
	<area shape=rect coords="1732,276,1797,297" href="http://www.pepysdiary.com/encyclopedia/3736/">
	<area shape=rect coords="1641,276,1712,297" href="http://www.pepysdiary.com/encyclopedia/749/">
	<area shape=rect coords="1573,276,1623,297" href="http://www.pepysdiary.com/encyclopedia/750/">
	<area shape=rect coords="2046,276,2096,290" href="http://www.pepysdiary.com/encyclopedia/5265/">
	<area shape=rect coords="2014,361,2057,383" href="http://www.pepysdiary.com/encyclopedia/1568/">
	<area shape=rect coords="2145,361,2180,375" href="http://www.pepysdiary.com/encyclopedia/6764/">
	<area shape=rect coords="2071,394,2142,415" href="http://www.pepysdiary.com/encyclopedia/7392/">
	<area shape=rect coords="2081,361,2131,375" href="http://www.pepysdiary.com/encyclopedia/6763/">
	<area shape=rect coords="2135,276,2177,297" href="http://www.pepysdiary.com/encyclopedia/2724/">
	<area shape=rect coords="2099,276,2135,290" href="http://www.pepysdiary.com/encyclopedia/2725/">
	<area shape=rect coords="1525,362,1558,375" href="http://www.pepysdiary.com/encyclopedia/3002/">
	<area shape=rect coords="1520,310,1563,332" href="http://www.pepysdiary.com/encyclopedia/3003/">
	<area shape=rect coords="1520,277,1563,298" href="http://www.pepysdiary.com/p/6232.php">
	<area shape=rect coords="1455,276,1490,290" href="http://www.pepysdiary.com/encyclopedia/6232/">
	<area shape=rect coords="1348,276,1391,290" href="http://www.pepysdiary.com/encyclopedia/3065/">
	<area shape=rect coords="973,361,1022,375" href="http://www.pepysdiary.com/p/2812.php">
	<area shape=rect coords="902,361,937,375" href="http://www.pepysdiary.com/p/2812.php">
	<area shape=rect coords="1029,361,1065,375" href="http://www.pepysdiary.com/encyclopedia/2651/">
	<area shape=rect coords="873,361,909,375" href="http://www.pepysdiary.com/encyclopedia/2812/">
	<area shape=rect coords="934,361,969,375" href="http://www.pepysdiary.com/encyclopedia/2591/">
	<area shape=rect coords="59,700,271,714" href="http://www.pepysdiary.com/encyclopedia/7390/">
	<area shape=rect coords="1387,522,1479,537" href="http://www.pepysdiary.com/encyclopedia/13845/">
	<area shape=rect coords="1578,690,1642,704" href="http://www.pepysdiary.com/encyclopedia/5735/">
	<area shape=rect coords="1561,652,1660,673" href="http://www.pepysdiary.com/encyclopedia/631/">
	<area shape=rect coords="1391,559,1476,581" href="http://www.pepysdiary.com/encyclopedia/1066/">
	<area shape=rect coords="1504,559,1603,581" href="http://www.pepysdiary.com/encyclopedia/1067/">
	<area shape=rect coords="374,393,445,415" href="http://www.pepysdiary.com/encyclopedia/951/">
	<area shape=rect coords="384,361,434,382" href="http://www.pepysdiary.com/encyclopedia/1761/">
	<area shape=rect coords="296,381,381,395" href="http://www.pepysdiary.com/encyclopedia/1858/">
	<area shape=rect coords="314,360,363,375" href="http://www.pepysdiary.com/encyclopedia/119/">
	<area shape=rect coords="271,361,314,375" href="http://www.pepysdiary.com/encyclopedia/3286/">
	<area shape=rect coords="229,361,271,375" href="http://www.pepysdiary.com/encyclopedia/1342/">
	<area shape=rect coords="190,467,233,481" href="http://www.pepysdiary.com/encyclopedia/4213/">
	<area shape=rect coords="233,467,282,489" href="http://www.pepysdiary.com/encyclopedia/8086/">
	<area shape=rect coords="134,467,191,496" href="http://www.pepysdiary.com/encyclopedia/120/">
	<area shape=rect coords="92,467,134,481" href="http://www.pepysdiary.com/encyclopedia/4212/">
	<area shape=rect coords="158,401,215,422" href="http://www.pepysdiary.com/encyclopedia/1858/">
	<area shape=rect coords="166,361,208,383" href="http://www.pepysdiary.com/encyclopedia/121/">
	<area shape=rect coords="10,389,88,400" href="http://www.pepysdiary.com/encyclopedia/2531/">
	<area shape=rect coords="27,361,70,382" href="http://www.pepysdiary.com/encyclopedia/342/">
	<area shape=rect coords="95,361,151,375" href="http://www.pepysdiary.com/encyclopedia/7192/">
	<area shape=rect coords="83,276,161,297" href="http://www.pepysdiary.com/encyclopedia/2807/">
	<area shape=rect coords="3158,361,3208,383" href="http://www.pepysdiary.com/encyclopedia/1507/">
	<area shape=rect coords="2460,360,2510,382" href="%22http://www.pepysdiary.com/encyclopedia/13282/">
	<area shape=rect coords="2406,360,2448,382" href="http://www.pepysdiary.com/encyclopedia/13281/">
	<area shape=rect coords="2277,276,2340,297" href="http://www.pepysdiary.com/encyclopedia/247/">
	<area shape=rect coords="2355,360,2397,382" href="http://www.pepysdiary.com/encyclopedia/2803/">
	<area shape=rect coords="2801,361,2836,375" href="http://www.pepysdiary.com/encyclopedia/676/">
	<area shape=rect coords="2758,361,2801,375" href="http://www.pepysdiary.com/encyclopedia/11061/">
	<area shape=rect coords="3410,361,3446,383" href="http://www.pepysdiary.com/encyclopedia/7721/">
	<area shape=rect coords="3361,361,3410,383" href="http://www.pepysdiary.com/encyclopedia/2998/">
	<area shape=rect coords="3283,361,3318,383" href="http://www.pepysdiary.com/encyclopedia/2931/">
	<area shape=rect coords="3240,361,3276,383" href="http://www.pepysdiary.com/encyclopedia/2930/">
	<area shape=rect coords="3205,361,3240,383" href="http://www.pepysdiary.com/encyclopedia/3000/">
	<area shape=rect coords="3106,361,3155,383" href="http://www.pepysdiary.com/encyclopedia/2848/">
	<area shape=rect coords="3063,361,3106,382" href="http://www.pepysdiary.com/encyclopedia/113/">
	<area shape=rect coords="2985,412,3056,434" href="http://www.pepysdiary.com/encyclopedia/8250/">
	<area shape=rect coords="2992,361,3049,389" href="http://www.pepysdiary.com/encyclopedia/114/">
	<area shape=rect coords="2709,361,2758,382" href="http://www.pepysdiary.com/encyclopedia/7294/">
	<area shape=rect coords="2773,276,2824,307" href="http://www.pepysdiary.com/encyclopedia/1593/">
	<area shape=rect coords="2851,275,2900,297" href="http://www.pepysdiary.com/encyclopedia/915/">
	<area shape=rect coords="3177,321,3240,342" href="http://www.pepysdiary.com/encyclopedia/115/">
	<area shape=rect coords="3169,275,3247,296" href="http://www.pepysdiary.com/encyclopedia/112/">
	<area shape=rect coords="2213,163,2298,184" href="http://www.pepysdiary.com/encyclopedia/2802/">
	<area shape=rect coords="3049,163,3099,191" href="http://www.pepysdiary.com/encyclopedia/1558/">
	<area shape=rect coords="1730,113,1778,134" href="http://www.pepysdiary.com/encyclopedia/5137/">
	<area shape=rect coords="718,389,810,404" href="http://www.pepysdiary.com/encyclopedia/6750/">
	<area shape=rect coords="742,360,785,374" href="http://www.pepysdiary.com/encyclopedia/2934/">
	<area shape=rect coords="657,401,714,415" href="http://www.pepysdiary.com/p/8544.php">
	<area shape=rect coords="652,360,720,382" href="http://www.pepysdiary.com/encyclopedia/2933/">
	<area shape=rect coords="803,402,881,416" href="http://www.pepysdiary.com/encyclopedia/8544/">
	<area shape=rect coords="813,360,870,382" href="http://www.pepysdiary.com/encyclopedia/116/">
	<area shape=rect coords="737,276,790,297" href="http://www.pepysdiary.com/encyclopedia/2542/">
	<area shape=rect coords="674,317,717,338" href="http://www.pepysdiary.com/encyclopedia/1709/">
	<area shape=rect coords="675,276,718,297" href="http://www.pepysdiary.com/encyclopedia/884/">
	<area shape=rect coords="1107,276,1157,297" href="http://www.pepysdiary.com/encyclopedia/1104/">
	<area shape=rect coords="1021,276,1071,297" href="http://www.pepysdiary.com/p/2542.php">
	<area shape=rect coords="912,276,962,297" href="http://www.pepysdiary.com/encyclopedia/6215/">
	<area shape=rect coords="1986,276,2043,304" href="http://www.pepysdiary.com/encyclopedia/995/">
	<area shape=rect coords="1914,276,1978,297" href="http://www.pepysdiary.com/encyclopedia/911/">
	<area shape=rect coords="1469,361,1511,382" href="http://www.pepysdiary.com/encyclopedia/117/">
	<area shape=rect coords="1427,361,1469,383" href="http://www.pepysdiary.com/encyclopedia/1568/">
	<area shape=rect coords="1253,361,1295,383" href="http://www.pepysdiary.com/encyclopedia/236/">
	<area shape=rect coords="1299,652,1398,674" href="http://www.pepysdiary.com/encyclopedia/150/">
	<area shape=rect coords="1214,652,1284,673" href="http://www.pepysdiary.com/encyclopedia/29/">
	<area shape=rect coords="1171,276,1225,297" href="http://www.pepysdiary.com/encyclopedia/154/">
	<area shape=rect coords="1228,276,1291,297" href="http://www.pepysdiary.com/encyclopedia/282/">
</map>

<img class="force-fullwidth" width="4382" height="738" alt="The Pepys Family Tree" src="{{ MEDIA_URL }}encyclopedia/familytree/FamilyTree.png" usemap="#GraffleExport" />
</p>

{% endblock after_flatpage_content %}
