/****************************************************************************/
// Set any variables before we set the Bootstrap defaults.

/****************************************************************************/
/* Set up Boostrap. */
@import "bootstrap_custom";


/****************************************************************************/
/* Custom, non-Bootstrap, variables. */

// COLORS

$site-header-bg-color: #08690d;

// "Edit" links:
$admin-bg-color: #ff0;

$img-path: "../img";



/****************************************************************************/
/* More specific elements - TODO: should be split into their own files. */

#id_honeypot {
    display: none;
}

/* Encyclopedia topic page. */
#map-frame {
	width: 100%;
	height: 400px;
}
