/****************************************************************************/
/* Custom, non-Bootstrap, variables.
 */

// COLORS

$gray-lightish:           #e5e5e5;

// Contains the title.
$site-header-bg:          #08690d;
$site-header-title-color: $gray-light;
$site-header-subtitle-color: $gray-lighter;
$site-header-border-color:#325831; // Top and bottom.

// Main nav, below the header.
$site-subnav-bg:          $gray-light;
$site-subnav-color:       #b7b7b2; // dividers.

// User nav, top of page.
// Thinner vertically, so some replacement styles:
$supernav-height: 28px;
$supernav-line-height-computed: 28px;
$supernav-padding-vertical: (($supernav-height - $supernav-line-height-computed) / 2);

$site-highlight-color: #589359; // eg 'on' border of subnav.

$aside-bg:                #fff;
$aside-title-color:		  #fff;
$aside-title-bg:          #549355;
$aside-hr-color:          $gray-lightish;
$aside-padding-horizontal: 15px;

$comments-header-bg:      $gray-light; // eg behind '3 annotations'.

$admin-bg:                #ff0; // "Edit" links.


// PATHS

$img-path: "../img/backgrounds";

// NAVBAR

$navbar-font-family:	$font-family-sans-serif;

